force-app/main/default/flows/AnaliseParecerSubflowCriaAnaliseParecer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnviaNotificacaoParaAprovadores</name>
        <label>Envia notificação para aprovadores</label>
        <locationX>776</locationX>
        <locationY>3164</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>EnviarEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GETSendNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Parecer Criado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificaCriacaoParecer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>RegistroAnaliseAparecer.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarEmail</name>
        <label>Enviar e-mail</label>
        <locationX>776</locationX>
        <locationY>3272</locationY>
        <actionName>EmailInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assunto</name>
            <value>
                <stringValue>Parecer Criado!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>corpo</name>
            <value>
                <elementReference>EmailParecerCriado</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lstDestinatarios</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssigmentMemberComplice</name>
        <label>AssigmentMemberComplice</label>
        <locationX>1500</locationX>
        <locationY>2780</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMemberComplice.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetMemberComplice.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMemberComplice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentMemberCredito</name>
        <label>AssigmentMemberCredito</label>
        <locationX>1196</locationX>
        <locationY>2780</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMemberCredito.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetMemberCredito.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMemberCredito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentManagerId</name>
        <label>AssignmentManagerId</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParecer.Owner:User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRTSecuritizadora</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentRecipientsFormalizacao</name>
        <label>AssignmentRecipientsFormalizacao</label>
        <locationX>628</locationX>
        <locationY>2780</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopMemberId.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GETUserMember.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMemberId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentRecipientsSecuritizadora</name>
        <label>AssignmentRecipientsSecuritizadora</label>
        <locationX>756</locationX>
        <locationY>2564</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetParecer.Owner:User.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificacaoListaDestinatarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentRecipientsVicePresidente</name>
        <label>AssignmentRecipientsVicePresidente</label>
        <locationX>188</locationX>
        <locationY>2564</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetVPUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetVPUser.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificacaoListaDestinatarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiCamposEtapa</name>
        <label>AtribuiCamposEtapa</label>
        <locationX>996</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.StatusAnalise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em análise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.Alcada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopEtapasAnalise</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.Etapa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountEtapa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.Parecer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parecer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.StatusAnalise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Em análise</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.ComposicaoComite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.Oportunidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParecer.Oportunidade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTAnaliseParecer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuiListaAnaliseParecer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiEtapaCredito</name>
        <label>AtribuiEtapaCredito</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Etapas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Crédito</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GETQueueCredito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiEtapaEscalonada</name>
        <label>AtribuiEtapaEscalonada</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Etapas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Vice Presidente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.Escalonado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetVPRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiEtapaEscalonada2</name>
        <label>AtribuiEtapaEscalonada2</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Etapas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Diretora de Crédito</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroAnaliseAparecer.Escalonado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetVPRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiEtapaInvestimento</name>
        <label>AtribuiEtapaInvestimento</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Etapas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Formalização</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQueueFormalizacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiEtapaSecuritizadora</name>
        <label>AtribuiEtapaSecuritizadora</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Etapas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Comitê</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignmentManagerId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiListaAnaliseParecer</name>
        <label>AtribuiListaAnaliseParecer</label>
        <locationX>996</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>CountEtapa</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaAnaliseParecer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroAnaliseAparecer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopEtapasAnalise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirEstapaComplice</name>
        <label>AtribuiEtapaComplice</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Etapas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GETQueueComplice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiRTAnaliseSecuritizadora</name>
        <label>AtribuiRTAnaliseSecuritizadora</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RTAnaliseParecer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRTSecuritizadora.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopEtapasAnalise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiRTComplianceCredito</name>
        <label>AtribuiRTComplianceCredito</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RTAnaliseParecer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRTComplianceCreditoVP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopEtapasAnalise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiRTInvestimentos</name>
        <label>AtribuiRTInvestimentos</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RTAnaliseParecer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRTInvestimentos.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopEtapasAnalise</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AtribuirUsuariosParaNotificacao</name>
        <label>Atribuir Usuários Para Notificação</label>
        <locationX>908</locationX>
        <locationY>2456</locationY>
        <defaultConnector>
            <targetReference>VerificacaoListaDestinatarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VicePresidente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalonada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentRecipientsVicePresidente</targetReference>
            </connector>
            <label>Vice Presidente</label>
        </rules>
        <rules>
            <name>NotificaCaptacaonvestimento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopMemberId</targetReference>
            </connector>
            <label>Notifica Captação e Investimento</label>
        </rules>
        <rules>
            <name>NotificaSecuritizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operações estruturadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentRecipientsSecuritizadora</targetReference>
            </connector>
            <label>Notifica Securitizadora</label>
        </rules>
        <rules>
            <name>NotificaCredito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopMemberCredito</targetReference>
            </connector>
            <label>Notifica Crédito</label>
        </rules>
        <rules>
            <name>NotificaComplice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopMemberComplice</targetReference>
            </connector>
            <label>Notifica Complice</label>
        </rules>
    </decisions>
    <decisions>
        <name>DiretoradeCredito</name>
        <label>Diretora de Credito?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>AtribuiEtapaEscalonada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordUser.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Giseli Santos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuiEtapaEscalonada2</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarTipoAnalise</name>
        <label>Validar tipo de análise</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>LoopEtapasAnalise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AnaliseEscalonada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escalonada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DiretoradeCredito</targetReference>
            </connector>
            <label>Análise Escalonada?</label>
        </rules>
        <rules>
            <name>AnaliseInvestimento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuiEtapaInvestimento</targetReference>
            </connector>
            <label>Análise de Investimento?</label>
        </rules>
        <rules>
            <name>AnaliseSecuritizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operações estruturadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuiEtapaSecuritizadora</targetReference>
            </connector>
            <label>Análise de Securitizadora?</label>
        </rules>
        <rules>
            <name>AnaliseCredito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuiEtapaCredito</targetReference>
            </connector>
            <label>Análise Crédito</label>
        </rules>
        <rules>
            <name>Complice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirEstapaComplice</targetReference>
            </connector>
            <label>Complice</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica se as listas EmailRecipients e Recipients contém valores para envio de notificação e e-mail personalizado.</description>
        <name>VerificacaoListaDestinatarios</name>
        <label>Verificação de lista de destinatários</label>
        <locationX>908</locationX>
        <locationY>3056</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ListasPreenchidas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailRecipients</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Recipients</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>EnviaNotificacaoParaAprovadores</targetReference>
            </connector>
            <label>Listas preenchidas?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarAlcada</name>
        <label>Verificar Alçada</label>
        <locationX>908</locationX>
        <locationY>2048</locationY>
        <defaultConnector>
            <targetReference>AtualizaAlcadaParecer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CreditoCompliance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RegistroAnaliseAparecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegistroAnaliseAparecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaAlcadaParecerCreditoCompliance</targetReference>
            </connector>
            <label>Crédito ou compliance</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaStatusOPP</name>
        <label>VerificaStatusOPP</label>
        <locationX>908</locationX>
        <locationY>1748</locationY>
        <defaultConnector>
            <targetReference>VerificarAlcada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DiferenteAgAprovacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParecer.Oportunidade__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ag Aprovação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaFaseOPP</targetReference>
            </connector>
            <label>Diferente Ag Aprovação</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Comite</name>
        <dataType>String</dataType>
        <expression>{!GETOwnerParecer.Name} &amp;&apos;; &apos;&amp;{!GetManager.Name}&amp;&apos;; Adriana Marques&apos;</expression>
    </formulas>
    <formulas>
        <name>vOwner</name>
        <dataType>String</dataType>
        <expression>IF({!LoopEtapasAnalise}=&apos;Vice Presidente&apos; || {!LoopEtapasAnalise}=&apos;Diretora de Crédito&apos; , {!varRecordUser.Id},
   IF({!LoopEtapasAnalise}=&apos;Formalização&apos;, {!GetQueueFormalizacao.Id}, 
      IF({!LoopEtapasAnalise}=&apos;Crédito&apos;, {!GETQueueCredito.Id},
        IF({!LoopEtapasAnalise}=&apos;Compliance&apos;, {!GETQueueComplice.Id}, {!ManagerId}
   	  ))
))</expression>
    </formulas>
    <interviewLabel>[Análise Parecer] - Subflow Cria Análise do  Parecer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Análise Parecer] - Subflow Cria Análise do  Parecer</label>
    <loops>
        <name>LoopEtapasAnalise</name>
        <label>LoopEtapasAnalise</label>
        <locationX>908</locationX>
        <locationY>1232</locationY>
        <collectionReference>Etapas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuiCamposEtapa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateAnaliseParecer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopMemberComplice</name>
        <label>LoopMemberComplice</label>
        <locationX>1412</locationX>
        <locationY>2564</locationY>
        <collectionReference>GETQueueMemberComplice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetMemberComplice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerificacaoListaDestinatarios</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopMemberCredito</name>
        <label>LoopMemberCredito</label>
        <locationX>1108</locationX>
        <locationY>2564</locationY>
        <collectionReference>GETQueueMemberCredito</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetMemberCredito</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerificacaoListaDestinatarios</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopMemberId</name>
        <label>LoopMemberId</label>
        <locationX>540</locationX>
        <locationY>2564</locationY>
        <collectionReference>GETQueueMemberFormalizacao</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GETUserMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerificacaoListaDestinatarios</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAnaliseParecer</name>
        <label>CreateAnaliseParecer</label>
        <locationX>908</locationX>
        <locationY>1640</locationY>
        <connector>
            <targetReference>VerificaStatusOPP</targetReference>
        </connector>
        <inputReference>RegistroAnaliseAparecer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetManager</name>
        <label>GetManager</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidarTipoAnalise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETOwnerParecer.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMemberComplice</name>
        <label>GetMemberComplice</label>
        <locationX>1500</locationX>
        <locationY>2672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssigmentMemberComplice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopMemberComplice.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMemberCredito</name>
        <label>GetMemberCredito</label>
        <locationX>1196</locationX>
        <locationY>2672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssigmentMemberCredito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopMemberCredito.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETOwnerParecer</name>
        <label>GETOwnerParecer</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetParecer.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParecer</name>
        <label>GetParecer</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GETOwnerParecer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parecer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parecer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETQueueComplice</name>
        <label>GetQueueComplice</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GETQueueMemberComplice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETQueueCredito</name>
        <label>GETQueueCredito</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GETQueueMemberCredito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credito</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueueFormalizacao</name>
        <label>GetQueueFormalizacao</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GETQueueMemberFormalizacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formalizacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETQueueMemberComplice</name>
        <label>GETQueueMemberComplice</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTComplianceCreditoVP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETQueueComplice.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETQueueMemberCredito</name>
        <label>GETQueueMemberFCredito</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetRTComplianceCreditoVP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETQueueCredito.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETQueueMemberFormalizacao</name>
        <label>GETQueueMemberFormalizacao</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTInvestimentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQueueFormalizacao.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRTComplianceCreditoVP</name>
        <label>GetRTComplianceCreditoVP</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiRTComplianceCredito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AnaliseParecerComplianceCredito</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRTInvestimentos</name>
        <label>GetRTInvestimentos</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiRTInvestimentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AnaliseParecerInvestimentos</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRTSecuritizadora</name>
        <label>GetRTSecuritizadora</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiRTAnaliseSecuritizadora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AnaliseParecerSecuritizadora</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETSendNotification</name>
        <label>GETSendNotification</label>
        <locationX>908</locationX>
        <locationY>2348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirUsuariosParaNotificacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificarContaCriada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GETUserMember</name>
        <label>GETUserMember</label>
        <locationX>628</locationX>
        <locationY>2672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentRecipientsFormalizacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopMemberId.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVPRole</name>
        <label>GetVPRole</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVPUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GG RI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVPUser</name>
        <label>GetVPUser</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetRTComplianceCreditoVP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVPRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaAlcadaParecer</name>
        <label>Atualiza Alçada Parecer</label>
        <locationX>1040</locationX>
        <locationY>2156</locationY>
        <connector>
            <targetReference>GETSendNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegistroAnaliseAparecer.Parecer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AlcadaAtual__c</field>
            <value>
                <elementReference>RegistroAnaliseAparecer.Alcada__c</elementReference>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaAlcadaParecerCreditoCompliance</name>
        <label>Atualiza Alçada Parecer Crédito e Compliance</label>
        <locationX>776</locationX>
        <locationY>2156</locationY>
        <connector>
            <targetReference>GETSendNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegistroAnaliseAparecer.Parecer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AlcadaAtual__c</field>
            <value>
                <stringValue>Crédito e Compliance</stringValue>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaFaseOPP</name>
        <label>AtualizaFaseOPP</label>
        <locationX>776</locationX>
        <locationY>1856</locationY>
        <connector>
            <targetReference>VerificarAlcada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegistroAnaliseAparecer.Parecer__r.Oportunidade__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ag Aprovação</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParecer</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailParecerCriado</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Olá!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Parecer de número&lt;strong&gt; {!GetParecer.Name}&lt;/strong&gt; referente a oportunidade {!GetParecer.Oportunidade__r.Name} foi criado e está pendente de análise na alçada {!RegistroAnaliseAparecer.Alcada__c}.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificaCriacaoParecer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Análise de parecer criada, referente a oportunidade {!RegistroAnaliseAparecer.Parecer__r.Oportunidade__r.Name} e pendente de análise na alçada {!RegistroAnaliseAparecer.Alcada__c}</text>
    </textTemplates>
    <variables>
        <name>CountEtapa</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Escalonada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Etapas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListaAnaliseParecer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AnaliseParecer__c</objectType>
    </variables>
    <variables>
        <name>ManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parecer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeAnalise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistroAnaliseAparecer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AnaliseParecer__c</objectType>
    </variables>
    <variables>
        <name>RTAnaliseParecer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoAnalise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
