force-app/main/default/flows/AnaliseParecerActionResultadoAnalise.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BloqueiaOPP</name>
        <label>Bloqueia OPP</label>
        <locationX>1568</locationX>
        <locationY>4178</locationY>
        <actionName>ApprovalControll</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bloquear</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registroId</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ApprovalControll</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DesbloqueiaOportunidade</name>
        <label>Desbloqueia oportunidade</label>
        <locationX>1700</locationX>
        <locationY>3530</locationY>
        <actionName>ApprovalControll</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VerificarStatusdaOportunidade</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bloquear</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registroId</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ApprovalControll</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarNotificacaoFase</name>
        <label>Enviar Notificação Fase</label>
        <locationX>1832</locationX>
        <locationY>4070</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificacao.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Fase da Oportunidade atualizada!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RetornoOportunidade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarNotificacaoFaseDevolvido</name>
        <label>Enviar Notificação Fase Devolvido</label>
        <locationX>2954</locationX>
        <locationY>3146</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificacaoDevolvido.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Análise do parecer Devolvida</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RetornoParecer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GETAnaliseParecer.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EnviarNotificacaoFaseReprovado</name>
        <label>Enviar Notificação Fase Reprovado</label>
        <locationX>1568</locationX>
        <locationY>4070</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>BloqueiaOPP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificacaoReprovado.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Oportunidade Reprovada!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RetornoOportunidade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AtribuirContratoListaContratos</name>
        <label>Atribuir contrato em lista de contratos</label>
        <locationX>1238</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>ContratosGarantia</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContratoGarantia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContratosPreenchidos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirDestinatarios</name>
        <label>Atribuir Destinatarios</label>
        <locationX>1832</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnviarNotificacaoFase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirDestinatariosDevolvido</name>
        <label>Atribuir Destinatarios Devolvido</label>
        <locationX>2954</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Owner.Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnviarNotificacaoFaseDevolvido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirDestinatariosReprovado</name>
        <label>Atribuir Destinatarios Reprovado</label>
        <locationX>1568</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Owner.Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnviarNotificacaoFaseReprovado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirPercentualPendenteContrato</name>
        <label>Atribuir percentual pendente Contrato</label>
        <locationX>1238</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ContratoGarantia.PercentualPendente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopContratosPreenchidos.Contrato__r.PercentualPendente__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirPercentualPendenteContratosGarantia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirPercentualPendenteContratosGarantia</name>
        <label>Atribuir % pendente nos contratos em garantia</label>
        <locationX>1238</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ContratoGarantia.PercentualPendente__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContratosPreenchidos.Utilizado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContratoGarantia.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopContratosPreenchidos.Contrato__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirContratoListaContratos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirQuantidadeContratosGarantia</name>
        <label>Atribuir quantidade de contratos em garantia</label>
        <locationX>1700</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>QuantidadeContratosGarantia</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListInformacoesFinanceirasOportunidade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContratosGarantiaPreenchidos</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aprovado</name>
        <choiceText>Aprovado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aprovado</stringValue>
        </value>
    </choices>
    <choices>
        <name>AprovadoComRessalva</name>
        <choiceText>Aprovado com ressalva</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aprovado com ressalva</stringValue>
        </value>
    </choices>
    <choices>
        <name>Devolvido</name>
        <choiceText>Devolvido</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Devolvido</stringValue>
        </value>
    </choices>
    <choices>
        <name>Escalonar</name>
        <choiceText>Escalonar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Escalonar</stringValue>
        </value>
    </choices>
    <choices>
        <name>Formalizacao</name>
        <choiceText>Alessandra de Paulo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alessandra de Paulo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reprovado</name>
        <choiceText>Reprovado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reprovado</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Verifica se o Resultado da análise de Crédito foi uma aprovação e exige o preenchimento do percentual de garantia a ser utilizado dos contratos.</description>
        <name>ContratosGarantiaPreenchidos</name>
        <label>Contratos em garantia preenchidos?</label>
        <locationX>1700</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>VerificaUnidadeNegocio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SimPreenchidos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContratosPreenchidos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParecerAprovado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarInformacoesFinanceirasOportunidade</targetReference>
            </connector>
            <label>Sim, preenchidos</label>
        </rules>
        <rules>
            <name>NaoPreenchidos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContratosPreenchidos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParecerAprovado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuantidadeContratosGarantia</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenObrigatoriedadePercentual</targetReference>
            </connector>
            <label>Não preenchidos</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisaoAlcadaCreditoGarantiaInvestimentos</name>
        <label>Decisão alçada Crédito e garantia Investimentos</label>
        <locationX>1282</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>ValidaEscalonamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>AlcadaCreditoGarantiaInvestimentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParecerAprovado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopContratosPreenchidos</targetReference>
            </connector>
            <label>Alçada Crédito e garantia Investimentos</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidaEscalonamento</name>
        <label>Valida Escalonamento</label>
        <locationX>1700</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>UpdateParecer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalona</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ResultadoAnaliseComite</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalonar</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseCredito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Escalonar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaEscalonado</targetReference>
            </connector>
            <label>Escalona</label>
        </rules>
        <rules>
            <name>SecuritizadoraNaoEscalonado</name>
            <conditionLogic>(3 AND 4 AND 5 AND 6) AND  (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>vStatusAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vStatusAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado com ressalva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseComite</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Escalonar</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Formalização</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificarAlcada</targetReference>
            </connector>
            <label>SecuritizadoraNãoEscalonado</label>
        </rules>
        <rules>
            <name>SecuritizadorComplice</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseComplice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aprovado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseComplice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AprovadoComRessalva</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterAnaliseParecerCompliceAprovado</targetReference>
            </connector>
            <label>Securitizadora Complice</label>
        </rules>
        <rules>
            <name>SecuritizadoraCredito</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseCredito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aprovado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseCredito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AprovadoComRessalva</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterAnaliseParecerCreditoAprovado</targetReference>
            </connector>
            <label>Securitizadora Crédito</label>
        </rules>
        <rules>
            <name>DevolvidoSecuritizadora</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ResultadoAnaliseComplice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Devolvido</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseCredito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Devolvido</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Devolvido</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseFormalizacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Devolvido</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VetificarAlcada</targetReference>
            </connector>
            <label>Devolvido Securitizadora</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidaPermissaoResultadoParecer</name>
        <label>Valida permissão - Resultado Parecer</label>
        <locationX>435</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ScreenAprovacaoAnalise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ValidaComite</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comitê</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosSecuritizadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosCaptacaoInvestimentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formalização</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMensagemPermissao</targetReference>
            </connector>
            <label>Valida Comitê</label>
        </rules>
        <rules>
            <name>ValidaCredito</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Aprovador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosSecuritizadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosCaptacaoInvestimentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteGeralSecuritizadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteGeralCaptacaoInvestimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMensagemPermissao</targetReference>
            </connector>
            <label>Valida Crédito</label>
        </rules>
        <rules>
            <name>ValidaFormalizacao</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formalizacao</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Formalização</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Aprovador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteGeralCaptacaoInvestimentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteGeralSecuritizadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosCaptacaoInvestimentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosSecuritizadora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMensagemPermissao</targetReference>
            </connector>
            <label>Valida Formalização</label>
        </rules>
        <rules>
            <name>ValidaMaster</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Superintendência</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.AprovadorMaster</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteGeralCaptacaoInvestimentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteGeralSecuritizadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosCaptacaoInvestimentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosSecuritizadora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMensagemPermissao</targetReference>
            </connector>
            <label>Valida Master</label>
        </rules>
        <rules>
            <name>ValidaComplice</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Owner:Group.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.Aprovador</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteGeralCaptacaoInvestimentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteGeralSecuritizadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosCaptacaoInvestimentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GerenteNegociosSecuritizadora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMensagemPermissao</targetReference>
            </connector>
            <label>Valida Complice</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificacaoUnidadeNegocios</name>
        <label>Verificação de Unidade de Negócios</label>
        <locationX>2822</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>UpdateParecerDevolvidoOutros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Operações estruturadas e outros</defaultConnectorLabel>
        <rules>
            <name>InvestimentosParecerDevolvido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateParecerDevolvidoInvestimentos</targetReference>
            </connector>
            <label>Investimentos?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarAlcada</name>
        <label>Verificar Alçada</label>
        <locationX>1040</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>UpdateAnalisesParecerVPFormalizacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DIferenteCreditoFormalizacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Formalização</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterComplianceDevolvido</targetReference>
            </connector>
            <label>Diferente de Crédito e Formalização</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarAlcadaAprovada</name>
        <label>Verificar Alçada Aprovada</label>
        <locationX>3350</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>DesbloqueiaOportunidade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DiferenteCreditoFormalizacaoAprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Formalização</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAnaliseParecerVP</targetReference>
            </connector>
            <label>Diferente de Crédito e Formalização Aprovado</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarAlcadaDevolvida</name>
        <label>Verificar Alçada Devolvida</label>
        <locationX>710</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>UpdateAnalisesParecer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>AprovacaoVicePresidencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vice Presidente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diretora de Crédito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateParecerVicePresidente</targetReference>
            </connector>
            <label>Aprovação de Vice presidência</label>
        </rules>
        <rules>
            <name>ComplianceDevolvido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterComplianceDevolvido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterCreditoDevolvido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAnalisesParecerCompliance</targetReference>
            </connector>
            <label>Compliance Devolvido</label>
        </rules>
        <rules>
            <name>CreditoDevolvido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterCreditoDevolvido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterComplianceDevolvido</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAnalisesParecerCredito</targetReference>
            </connector>
            <label>Crédito Devolvido</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarListaComplice</name>
        <label>Verificar Lista Complice</label>
        <locationX>1766</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>UpdateParecerComplice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ListaCompliceVazia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterAnaliseParecerCompliceAprovado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Lista de Complice Vazia</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarListaCredito</name>
        <label>Verificar Lista Crédito</label>
        <locationX>2294</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>UpdateParecerCredito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ListaCreditoVazia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterAnaliseParecerCreditoAprovado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Lista de Crédito Vazia</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarStatusdaOportunidade</name>
        <label>Verificar Status da oportunidade</label>
        <locationX>1700</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>UpdateFaseOportunidade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ReprovadoOportunidade</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operações estruturadas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseComplice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reprovado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnaliseCredito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reprovado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResultadoAnalise</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reprovado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFaseOportunidadePerdida</targetReference>
            </connector>
            <label>Reprovado</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaUnidadeNegocio</name>
        <label>Verifica Unidade de Negocio</label>
        <locationX>1700</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateAnaliseParecer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Securitizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operações estruturadas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAnaliseParecer</targetReference>
            </connector>
            <label>Securitizadora</label>
        </rules>
        <rules>
            <name>Investimentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAnaliseParecerInvestimentos</targetReference>
            </connector>
            <label>Investimentos</label>
        </rules>
        <rules>
            <name>Securitizadora_Complice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operações estruturadas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAnaliseParecerSecComplice</targetReference>
            </connector>
            <label>Securitizadora Complice</label>
        </rules>
    </decisions>
    <decisions>
        <name>VetificarAlcada</name>
        <label>Verificar Alçada</label>
        <locationX>2822</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>VerificacaoUnidadeNegocios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vice Presidente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAnaliseParecerVPDevolvido</targetReference>
            </connector>
            <label>VP</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rcsUsersCredito</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crédito</stringValue>
            </value>
        </filters>
        <filters>
            <field>Division</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credito</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ParecerAprovado</name>
        <dataType>Boolean</dataType>
        <expression>OR({!ResultadoAnaliseCredito} = {!Aprovado}, {!ResultadoAnaliseCredito} = {!AprovadoComRessalva})</expression>
    </formulas>
    <formulas>
        <name>userFirstNameLastName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>vFaseOportunidade</name>
        <dataType>String</dataType>
        <expression>IF( {!vStatusAnalise}=&apos;Aprovado&apos; || {!vStatusAnalise}=&apos;Aprovado com ressalva&apos;,&apos;Aprovado&apos;,IF({!vStatusAnalise}=&apos;Devolvido&apos;, &apos;Devolvido&apos;,&apos;Reprovado&apos;))</expression>
    </formulas>
    <formulas>
        <name>vNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>vStatusAnalise</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!ResultadoAnalise})),{!ResultadoAnalise},
	IF(NOT(ISBLANK({!ResultadoAnaliseComite})),{!ResultadoAnaliseComite},
	IF(NOT(ISBLANK({!ResultadoAnaliseComiteNaoEscalona})),{!ResultadoAnaliseComiteNaoEscalona},
		IF(NOT(ISBLANK({!ResultadoAnaliseCredito})),{!ResultadoAnaliseCredito},
			IF(NOT(ISBLANK({!ResultadoAnaliseFormalizacao})),{!ResultadoAnaliseFormalizacao},
                             IF(NOT(ISBLANK({!ResultadoAnaliseComplice})),{!ResultadoAnaliseComplice},NULL
			)
		)	
                )
	)
)
)</expression>
    </formulas>
    <interviewLabel>[Análise do Parecer] - Action Resultado da análise {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Análise do Parecer] - Action Resultado da análise</label>
    <loops>
        <description>Percorre os contratos que foram preenchidos com o percentual de garantia para atualizar o % pendente.</description>
        <name>LoopContratosPreenchidos</name>
        <label>Loop contratos preenchidos</label>
        <locationX>1150</locationX>
        <locationY>1298</locationY>
        <collectionReference>ListInformacoesFinanceirasOportunidade</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuirPercentualPendenteContrato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AtualizarListaContratosGarantia</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GETAnaliseParecer</name>
        <label>GETAnaliseParecer</label>
        <locationX>435</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidaPermissaoResultadoParecer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnaliseParecer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificacao</name>
        <label>GetNotificacao</label>
        <locationX>1832</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirDestinatarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificarTaxaAprovadaReprovada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificacaoDevolvido</name>
        <label>GetNotificacaoDevolvido</label>
        <locationX>2954</locationX>
        <locationY>2930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirDestinatariosDevolvido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificarTaxaAprovadaReprovada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificacaoReprovado</name>
        <label>GetNotificacaoReprovado</label>
        <locationX>1568</locationX>
        <locationY>3854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirDestinatariosReprovado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificarTaxaAprovadaReprovada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserCreditoSelecionado</name>
        <label>getUserCreditoSelecionado</label>
        <locationX>1700</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirQuantidadeContratosGarantia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Usuario_para_Escalonamento</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varUserCreditoId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Department</queriedFields>
        <queriedFields>Division</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ObterAnaliseParecerCompliceAprovado</name>
        <label>Obter Análise do Parecer Complice Aprovado</label>
        <locationX>1766</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarListaComplice</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Alcada__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crédito</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parecer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusAnalise__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusAnalise__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado com ressalva</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnaliseParecer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterAnaliseParecerCreditoAprovado</name>
        <label>Obter Análise do Parecer Crédito Aprovado</label>
        <locationX>2294</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarListaCredito</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Alcada__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parecer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusAnalise__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusAnalise__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado com ressalva</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnaliseParecer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterComplianceDevolvido</name>
        <label>Obter Compliance Devolvido</label>
        <locationX>710</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterCreditoDevolvido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alcada__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusAnalise__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Devolvido</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parecer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnaliseParecer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterCreditoDevolvido</name>
        <label>Obter Crédito Devolvido</label>
        <locationX>710</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarAlcadaDevolvida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alcada__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crédito</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusAnalise__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Devolvido</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parecer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnaliseParecer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaEscalonado</name>
        <label>AtualizaEscalonado</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>AtualizaEscalonarParecer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Escalonado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaEscalonarParecer</name>
        <label>AtualizaEscalonarParecer</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>CriaAnaliseParecer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Escalonar__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarInformacoesFinanceirasOportunidade</name>
        <label>Atualizar informações financeiras da oportunidade</label>
        <locationX>1436</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>VerificaUnidadeNegocio</targetReference>
        </connector>
        <inputReference>ListInformacoesFinanceirasOportunidade</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarListaContratosGarantia</name>
        <label>Atualizar lista de contratos em garantia</label>
        <locationX>1150</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>ValidaEscalonamento</targetReference>
        </connector>
        <inputReference>ContratosGarantia</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oportunidade_Securitizadora</name>
        <label>Update Oportunidade Securitizadora</label>
        <locationX>2954</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>GetNotificacaoDevolvido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParecerDevolvido__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Devolvido</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAnaliseParecer</name>
        <label>UpdateAnaliseParecer</label>
        <locationX>1282</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>DecisaoAlcadaCreditoGarantiaInvestimentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comentario__c</field>
            <value>
                <elementReference>Comentario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAnalise__c</field>
            <value>
                <elementReference>vNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusAnalise__c</field>
            <value>
                <elementReference>vStatusAnalise</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAnaliseParecerInvestimentos</name>
        <label>UpdateAnaliseParecerInvestimentos</label>
        <locationX>1590</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>ValidaEscalonamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comentario__c</field>
            <value>
                <elementReference>Comentario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAnalise__c</field>
            <value>
                <elementReference>vNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusAnalise__c</field>
            <value>
                <elementReference>vStatusAnalise</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAnaliseParecerSecComplice</name>
        <label>UpdateAnaliseParecerSecComplice</label>
        <locationX>1854</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>ValidaEscalonamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comentario__c</field>
            <value>
                <elementReference>Comentario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAnalise__c</field>
            <value>
                <elementReference>vNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusAnalise__c</field>
            <value>
                <elementReference>vStatusAnalise</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAnaliseParecerVP</name>
        <label>UpdateAnaliseParecerVP</label>
        <locationX>3218</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>DesbloqueiaOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAnaliseParecerVPDevolvido</name>
        <label>UpdateAnaliseParecerVPDevolvido</label>
        <locationX>2690</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>VerificacaoUnidadeNegocios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAnalisesParecer</name>
        <label>UpdateAnalisesParecer</label>
        <locationX>1106</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>CriarParecerCredito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAnalisesParecerCompliance</name>
        <label>UpdateAnalisesParecerCompliance</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>CriarParecerComplianceDevolvido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAnalisesParecerCredito</name>
        <label>UpdateAnalisesParecerCredito</label>
        <locationX>842</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>CriarParecerCreditoDevolvido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAnalisesParecerVPFormalizacao</name>
        <label>UpdateAnalisesParecerVPFormalizacao</label>
        <locationX>1370</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>CriarParecerFormalizacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>userFirstNameLastName</elementReference>
            </value>
        </inputAssignments>
        <object>AnaliseParecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFaseOportunidade</name>
        <label>UpdateFaseOportunidade</label>
        <locationX>1832</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>GetNotificacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParecerDevolvido__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>vFaseOportunidade</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFaseOportunidadePerdida</name>
        <label>UpdateFaseOportunidadePerdida</label>
        <locationX>1568</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>GetNotificacaoReprovado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Justificativa__c</field>
            <value>
                <elementReference>Comentario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParecerDevolvido__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Perdido</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunityAgAprovacao</name>
        <label>Update Opportunity Ag Aprovação</label>
        <locationX>1106</locationX>
        <locationY>2954</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ag Aprovação</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParecer</name>
        <label>UpdateParecer</label>
        <locationX>3350</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>VerificarAlcadaAprovada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DataHoraFinalizacao__c</field>
            <value>
                <elementReference>vNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>vStatusAnalise</elementReference>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParecerComplice</name>
        <label>UpdateParecerComplice</label>
        <locationX>1898</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>DesbloqueiaOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DataHoraFinalizacao__c</field>
            <value>
                <elementReference>vNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>vStatusAnalise</elementReference>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParecerCredito</name>
        <label>UpdateParecerCredito</label>
        <locationX>2426</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>DesbloqueiaOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DataHoraFinalizacao__c</field>
            <value>
                <elementReference>vNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>vStatusAnalise</elementReference>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParecerDevolvidoInvestimentos</name>
        <label>Update Parecer Devolvido - Investimentos</label>
        <locationX>2690</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>DesbloqueiaOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Devolvido</stringValue>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParecerDevolvidoOutros</name>
        <label>Update Parecer Devolvido - Outros</label>
        <locationX>2954</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>CriaAnaliseParecerDevolvido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Em análise</stringValue>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParecerVicePresidente</name>
        <label>Update Parecer Vice Presidente</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>DesbloqueiaOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DataHoraFinalizacao__c</field>
            <value>
                <elementReference>vNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>vStatusAnalise</elementReference>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenAprovacaoAnalise</name>
        <label>ScreenAprovacaoAnalise</label>
        <locationX>1700</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getUserCreditoSelecionado</targetReference>
        </connector>
        <fields>
            <name>ResultadoAnaliseComplice</name>
            <choiceReferences>Aprovado</choiceReferences>
            <choiceReferences>AprovadoComRessalva</choiceReferences>
            <choiceReferences>Devolvido</choiceReferences>
            <choiceReferences>Reprovado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resultado da análise Complice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Compliance</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultadoAnaliseCredito</name>
            <choiceReferences>Aprovado</choiceReferences>
            <choiceReferences>AprovadoComRessalva</choiceReferences>
            <choiceReferences>Escalonar</choiceReferences>
            <choiceReferences>Reprovado</choiceReferences>
            <choiceReferences>Devolvido</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resultado da análise Crédito</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Crédito</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Diretora de Crédito</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultadoAnaliseFormalizacao</name>
            <choiceReferences>Aprovado</choiceReferences>
            <choiceReferences>AprovadoComRessalva</choiceReferences>
            <choiceReferences>Reprovado</choiceReferences>
            <choiceReferences>Devolvido</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resultado da análise Formalização</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Formalização</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultadoAnaliseComite</name>
            <choiceReferences>Aprovado</choiceReferences>
            <choiceReferences>AprovadoComRessalva</choiceReferences>
            <choiceReferences>Escalonar</choiceReferences>
            <choiceReferences>Reprovado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resultado da análise Comitê</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Vice Presidente</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Operações estruturadas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Crédito</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Compliance</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.ParecerDevolvido__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Diretora de Crédito</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultadoAnaliseComiteNaoEscalona</name>
            <choiceReferences>Aprovado</choiceReferences>
            <choiceReferences>AprovadoComRessalva</choiceReferences>
            <choiceReferences>Reprovado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resultado da Análise Comitê</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Vice Presidente</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Operações estruturadas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Crédito</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Compliance</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.ParecerDevolvido__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Diretora de Crédito</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResultadoAnalise</name>
            <choiceReferences>Aprovado</choiceReferences>
            <choiceReferences>AprovadoComRessalva</choiceReferences>
            <choiceReferences>Reprovado</choiceReferences>
            <choiceReferences>Devolvido</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resultado da análise</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Operações estruturadas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Vice Presidente</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Formalização</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Usuario_para_Escalonamento</name>
            <choiceReferences>rcsUsersCredito</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Usuário para Escalonamento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Crédito</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Diretora de Crédito</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comentario</name>
            <fieldText>Comentário</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContratosGarantiaLwc</name>
            <extensionName>c:contratosGarantia</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>idOportunidade</name>
                <value>
                    <elementReference>GETAnaliseParecer.Parecer__r.Oportunidade__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContratosPreenchidos</assignToReference>
                <name>contratosPreenchidos</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ListInformacoesFinanceirasOportunidade</assignToReference>
                <name>listInformacoesFinanceiras</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Parecer__r.Oportunidade__r.Garantia__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Investimento</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETAnaliseParecer.Alcada__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Crédito</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Salvar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenMensagemPermissao</name>
        <label>ScreenMensagemPermissao</label>
        <locationX>435</locationX>
        <locationY>4562</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Você não tem permissão para editar esse registro. &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Procure o aprovador responsável.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Tela que informa ao usuário a necessidade de seguir com o preenchimento do % utilizado em cada contrato.</description>
        <name>ScreenObrigatoriedadePercentual</name>
        <label>Screen obrigatoriedade Percentual</label>
        <locationX>1700</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VerificaUnidadeNegocio</targetReference>
        </connector>
        <fields>
            <name>TextoObrigatoriedadeSelecaoContratosGarantia</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Para seguir com a aprovação deste parecer é necessário informar o percentual de garantia de cada contrato relacionado sem ultrapassar 100% de utilização.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>309</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GETAnaliseParecer</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>CriaAnaliseParecer</name>
        <label>Cria análise do parecer</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <flowName>AnaliseParecerSubflowCriaAnaliseParecer</flowName>
        <inputAssignments>
            <name>Escalonada</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parecer</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoAnalise</name>
            <value>
                <stringValue>Crédito</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordUser</name>
            <value>
                <elementReference>varUserCreditoId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CriaAnaliseParecerDevolvido</name>
        <label>Cria Análise do Parecer Devolvido</label>
        <locationX>2954</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>Update_Oportunidade_Securitizadora</targetReference>
        </connector>
        <flowName>AnaliseParecerSubflowCriaAnaliseParecer</flowName>
        <inputAssignments>
            <name>Parecer</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoAnalise</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__r.UnidadeNegocio__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CriarParecerComplianceDevolvido</name>
        <label>Criar Parecer Compliance Devolvido</label>
        <locationX>578</locationX>
        <locationY>2738</locationY>
        <flowName>AnaliseParecerSubflowCriaAnaliseParecer</flowName>
        <inputAssignments>
            <name>Parecer</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoAnalise</name>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CriarParecerComplice</name>
        <label>Criar Parecer Complice</label>
        <locationX>1106</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>UpdateOpportunityAgAprovacao</targetReference>
        </connector>
        <flowName>AnaliseParecerSubflowCriaAnaliseParecer</flowName>
        <inputAssignments>
            <name>Parecer</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoAnalise</name>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CriarParecerCredito</name>
        <label>Criar Parecer Credito</label>
        <locationX>1106</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>CriarParecerComplice</targetReference>
        </connector>
        <flowName>AnaliseParecerSubflowCriaAnaliseParecer</flowName>
        <inputAssignments>
            <name>Parecer</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoAnalise</name>
            <value>
                <stringValue>Crédito</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CriarParecerCreditoDevolvido</name>
        <label>Criar Parecer Credito Devolvido</label>
        <locationX>842</locationX>
        <locationY>2738</locationY>
        <flowName>AnaliseParecerSubflowCriaAnaliseParecer</flowName>
        <inputAssignments>
            <name>Parecer</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoAnalise</name>
            <value>
                <stringValue>Crédito</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CriarParecerFormalizacao</name>
        <label>Criar Parecer Formalização</label>
        <locationX>1370</locationX>
        <locationY>2414</locationY>
        <flowName>AnaliseParecerSubflowCriaAnaliseParecer</flowName>
        <inputAssignments>
            <name>Parecer</name>
            <value>
                <elementReference>GETAnaliseParecer.Parecer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoAnalise</name>
            <value>
                <stringValue>Investimentos</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>RetornoOportunidade</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Oportunidade {!GETAnaliseParecer.Parecer__r.Oportunidade__r.Name} atualizada! Resultado da análise:{!GETAnaliseParecer.Parecer__r.Oportunidade__r.StageName}</text>
    </textTemplates>
    <textTemplates>
        <name>RetornoParecer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>O Parecer {!GETAnaliseParecer.Parecer__r.Name} foi Devolvido!!</text>
    </textTemplates>
    <variables>
        <name>ContratoGarantia</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contrato__c</objectType>
    </variables>
    <variables>
        <name>ContratosGarantia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contrato__c</objectType>
    </variables>
    <variables>
        <name>ContratosPreenchidos</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Destinatarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListInformacoesFinanceirasOportunidade</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformacoesFinanceirasOportunidade__c</objectType>
    </variables>
    <variables>
        <name>QuantidadeContratosGarantia</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusAnalise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserCreditoId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
