force-app/main/default/flows/ContratoAfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AtribuiContratoLista</name>
        <label>Atribui contrato na lista</label>
        <locationX>1194</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>ContratosGarantia</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContratoGarantia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirFlagPercentualIntegrado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribuir o campo % integrado como verdadeiro para evitar exclusão do registro de garantia.</description>
        <name>AtribuirFlagPercentualIntegrado</name>
        <label>Atribuir flag % integrado</label>
        <locationX>1194</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>LoopContratosGarantia.PercentualIntegrado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InformacoesGarantia</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContratosGarantia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContratosGarantia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirPercentuaisContrato</name>
        <label>Atribuir percentuais Contrato</label>
        <locationX>1194</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>ContratoGarantia.PercentualPendente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopContratosGarantia.Contrato__r.PercentualPendente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContratoGarantia.PercentualUtilizado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopContratosGarantia.Contrato__r.PercentualUtilizado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirValoresPercentuaisContrato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adiciona os valores de percentual utilizado no campo Utilizado e subtrai o mesmo valor do campo Pendente.</description>
        <name>AtribuirValoresPercentuaisContrato</name>
        <label>Atribuir valores percentuais no Contrato</label>
        <locationX>1194</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>ContratoGarantia.PercentualPendente__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>LoopContratosGarantia.Utilizado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContratoGarantia.PercentualUtilizado__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContratosGarantia.Utilizado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContratoGarantia.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopContratosGarantia.Contrato__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuiContratoLista</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>ErroEnderecoClienteNaoPreenchido</name>
        <label>Erro de endereço do cliente não preenchido</label>
        <locationX>226</locationX>
        <locationY>947</locationY>
        <customErrorMessages>
            <errorMessage>Para finalizar uma oportunidade como ganha, é obrigatório o preenchimento de todos os campos de Endereço de cobrança do cliente relacionado.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Verifica se os campos de Endereço de cobrança foram devidamente preenchidos no cadastro de Conta relacionada à oportunidade para integrá-la no Protheus.</description>
        <name>CamposEnderecoClientePreenchidos</name>
        <label>Campos de endereço do cliente preenchidos?</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>ErroEnderecoClienteNaoPreenchido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Endereço não preenchido</defaultConnectorLabel>
        <rules>
            <name>ContratoSemOportunidadeRelacionada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarContaInvestimentos</targetReference>
            </connector>
            <label>Contrato sem oportunidade relacionada</label>
        </rules>
        <rules>
            <name>EnderecoPreenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidade__r.Account.BairroCobranca__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidade__r.Account.BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidade__r.Account.BillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidade__r.Account.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidade__r.Account.NumeroCobranca__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidade__r.Account.BillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AtualizarContaInvestimentos</targetReference>
            </connector>
            <label>Endereço preenchido</label>
        </rules>
    </decisions>
    <decisions>
        <description>Realiza um loop para verificar os contratos relacionados e somá-los ao percentual utilizado.</description>
        <name>ContratoRelacionadoGarantiasInvestimentos</name>
        <label>Contrato relacionado à Garantias de Investimentos?</label>
        <locationX>1238</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>AtualizarContaOperacoesEstruturadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não relacionado</defaultConnectorLabel>
        <rules>
            <name>SimRelacionado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidade__r.Garantia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterRTGarantia</targetReference>
            </connector>
            <label>Sim, relacionado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarPeriodo</name>
        <label>Validar Período</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>ValidarUnidadeNegocio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PeriodoDefinido</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Periodo__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Periodo__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>OpcaoRemuneracao</targetReference>
            </connector>
            <label>Período definido</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarStatusInvestimentos</name>
        <label>Validar Status - Investimentos</label>
        <locationX>402</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>StatusTransferenciaRealizada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato Assinado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TransferenciaRealizada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CamposEnderecoClientePreenchidos</targetReference>
            </connector>
            <label>Status: Transferência realizada</label>
        </rules>
        <rules>
            <name>StatusDeclinado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declinado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaOPPPerdida</targetReference>
            </connector>
            <label>Status: Declinado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarStatusOperacoesEstruturadas</name>
        <label>Validar Status - Operações estruturadas</label>
        <locationX>1392</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>StatusContratoAssinado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato Assinado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContratoRelacionadoGarantiasInvestimentos</targetReference>
            </connector>
            <label>Status: Contrato assinado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidarUnidadeNegocio</name>
        <label>Validar Unidade de negócio</label>
        <locationX>1106</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Investimentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidarStatusInvestimentos</targetReference>
            </connector>
            <label>Investimentos</label>
        </rules>
        <rules>
            <name>OperacoesEstruturadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operações estruturadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidarStatusOperacoesEstruturadas</targetReference>
            </connector>
            <label>Operações estruturadas</label>
        </rules>
    </decisions>
    <description>EUR-491 - [Contrato] - Alteração do processo de oportunidade ganha</description>
    <environments>Default</environments>
    <formulas>
        <name>OpcaoRemuneracaoDefinida</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.Periodo__c}, &quot;Mensal&quot;), 
    &quot;Opto pela remuneração líquida mensal&quot;,
    IF(
        ISPICKVAL({!$Record.Periodo__c}, &quot;PMT&quot;),
        &quot;Opto pela remuneração líquida mensal com uma fração do valor integralizado.&quot;,
        IF(
            ISPICKVAL({!$Record.Periodo__c}, &quot;Final&quot;),
            &quot;Não opto pela remuneração líquida mensal&quot;,
            NULL
        )
    )
)</expression>
    </formulas>
    <interviewLabel>[Contrato] - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Contrato] - After Insert</label>
    <loops>
        <description>Percorre os registros de Garantia relacionados ao Contrato assinado, removendo o percentual pendente e somando o percentual utilizado de cada contrato.</description>
        <name>LoopContratosGarantia</name>
        <label>Loop Contratos em Garantia</label>
        <locationX>1106</locationX>
        <locationY>1163</locationY>
        <collectionReference>ObterContratosGarantia</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuirPercentuaisContrato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AtualizarContratosGarantia</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObterContratosGarantia</name>
        <label>Obter contratos de garantia</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContratosGarantia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterRTGarantia.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PercentualIntegrado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InformacoesFinanceirasOportunidade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRTGarantia</name>
        <label>Obter RT Garantia</label>
        <locationX>1106</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterContratosGarantia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformacoesFinanceirasOportunidade__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Garantia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaOPPPerdida</name>
        <label>Atualiza OPP Perdida</label>
        <locationX>490</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidade__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Perdido</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarContaInvestimentos</name>
        <label>Atualizar Conta - Investimentos</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>AtualizarFaseOppFechadoGanho</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Conta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TipoInvestimentos__c</field>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarContaOperacoesEstruturadas</name>
        <label>Atualizar Conta - Operações estruturadas</label>
        <locationX>1238</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>FinalizaOPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Conta__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TipoOperacoesEstruturadas__c</field>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarContratosGarantia</name>
        <label>Atualizar contratos em Garantia</label>
        <locationX>1106</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>AtualizarGarantias</targetReference>
        </connector>
        <inputReference>ContratosGarantia</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarFaseOppFechadoGanho</name>
        <label>Atualizar fase da opp &gt; Fechado/Ganho</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidade__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Contrato Assinado</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarGarantias</name>
        <label>Atualizar garantias</label>
        <locationX>1106</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>AtualizarContaOperacoesEstruturadas</targetReference>
        </connector>
        <inputReference>InformacoesGarantia</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FinalizaOPP</name>
        <label>Finaliza OPP</label>
        <locationX>1238</locationX>
        <locationY>2195</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oportunidade__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Contrato Assinado</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>OpcaoRemuneracao</name>
        <label>Opção de remuneração</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>ValidarUnidadeNegocio</targetReference>
        </connector>
        <inputAssignments>
            <field>OpcaoRemuneracaoLiquidaMensal__c</field>
            <value>
                <elementReference>OpcaoRemuneracaoDefinida</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ValidarPeriodo</targetReference>
        </connector>
        <object>Contrato__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContratoGarantia</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contrato__c</objectType>
    </variables>
    <variables>
        <name>ContratosGarantia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contrato__c</objectType>
    </variables>
    <variables>
        <name>InformacoesGarantia</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformacoesFinanceirasOportunidade__c</objectType>
    </variables>
</Flow>
