force-app/main/default/flows/CotacaoCriacaoAtualizacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <name>BloqueioEdicao</name>
        <label>Bloqueio Edição</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>Para recalcular a cotação é permitido alterar os seguintes campos: prazo, valor do bem, valor da prestação mensal e valor aprovado.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>BloqueioEdicaoStatus</name>
        <label>BloqueioEdicaoStatus</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>Não é permitido alterar a cotação com status diferente de: Aguardando cliente.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>CriteriosEdicaoProdutosFinanceiros</name>
        <label>Critérios de edição - Produtos financeiros</label>
        <locationX>677</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>StatusContratado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>MensagemErroAguardandoCliente</name>
            <conditionLogic>(1 AND 2) AND ((3 AND 4) OR (5 AND 6) OR (7 AND (8 OR 9)) OR (10 AND (11 OR 12)) OR (13 AND (14 OR 15)) OR 16)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produtos financeiros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CETAA__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CETAA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CESHAA__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CESHAA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FormaPagamento__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FormaPagamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boleto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FormaPagamento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Débito em conta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FGTS__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FGTS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FGTS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SistemaAmortizacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SistemaAmortizacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SistemaAmortizacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IncluirITBIRegistro__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BloqueioEdicao</targetReference>
            </connector>
            <label>Mensagem de erro - Aguardando cliente</label>
        </rules>
        <rules>
            <name>MensagemErroBloqueioStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BloqueioEdicao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produtos financeiros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BloqueioEdicaoStatus</targetReference>
            </connector>
            <label>Mensagem de erro - bloqueio por status</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisoesCotacao</name>
        <label>Decisões da cotação</label>
        <locationX>2030</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>FinanciamentoItau</name>
            <conditionLogic>((1 OR 2)  AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ValorAprovado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ValorAprovado__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BancoParceiro__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ITAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificaITBIItau</targetReference>
            </connector>
            <label>Financiamento Itaú</label>
        </rules>
        <rules>
            <name>FinanciamentoOutrosBancos</name>
            <conditionLogic>((1 OR 2) AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ValorAprovado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ValorAprovado__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BancoParceiro__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ITAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificaITBIOutrosBancos</targetReference>
            </connector>
            <label>Financiamento Outros Bancos</label>
        </rules>
        <rules>
            <name>BloqueioCotacao</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Banco escolhido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banco escolhido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declinado pelo cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declinado pelo cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BloquearCotacao</targetReference>
            </connector>
            <label>Bloqueio de cotação</label>
        </rules>
        <rules>
            <name>ValorAtualizadoITBI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IncluirITBIRegistro__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IncluirITBIRegistro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaValorITBI</targetReference>
            </connector>
            <label>Valor Atualizado ITBI</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusContratado</name>
        <label>Status: Contratado</label>
        <locationX>1304</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>ValorAprovado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Contratado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contratado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarOportunidade</targetReference>
            </connector>
            <label>Contratado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValorAprovado</name>
        <label>ValorAprovado</label>
        <locationX>2030</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>DecisoesCotacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ValorAprovadoLTVItau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ValorAprovado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BancoParceiro__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ITAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produtos financeiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaValorAprovadoItau</targetReference>
            </connector>
            <label>Valor Aprovado - LTV Itaú</label>
        </rules>
        <rules>
            <name>ValorAprovadoLTVOutrosBancos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ValorAprovado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BancoParceiro__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ITAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produtos financeiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaValorAprovadoOutros</targetReference>
            </connector>
            <label>Valor Aprovado - LTV Outros Bancos</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaITBIItau</name>
        <label>Verifica ITBI Itaú</label>
        <locationX>1106</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ITBISim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IncluirITBIRegistro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarValorFinalFinanciamentoITBIItau</targetReference>
            </connector>
            <label>ITBI: Sim</label>
        </rules>
        <rules>
            <name>ITBINao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IncluirITBIRegistro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarValorFinalFinanciamentoItau</targetReference>
            </connector>
            <label>ITBI: Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaITBIOutrosBancos</name>
        <label>Verifica ITBI Outros Bancos</label>
        <locationX>1898</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OutrosBancosITBISim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IncluirITBIRegistro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaValorFinanciamentoITBIOutrosBancos</targetReference>
            </connector>
            <label>Outros Bancos ITBI: Sim</label>
        </rules>
        <rules>
            <name>OutrosBancosITBINao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IncluirITBIRegistro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarValorFinanciamentoOutrosBancos</targetReference>
            </connector>
            <label>Outros Bancos ITBI: Não</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormaPgtoVazio</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.FormaPagamento__c}, &apos;null&apos;)</expression>
    </formulas>
    <formulas>
        <name>FormulaItauITBI</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.ValorAprovado__c} + ({!$Record.ValorBem__c} * ({!$Record.PorcentagemITBIRegistro__c}/100)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaItauSemITBI</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ValorAprovado__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaOutrosBancosITBI</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.ValorAprovado__c} + ({!$Record.ValorBem__c} * ({!$Record.PorcentagemITBIRegistro__c}/100)))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaOutrosBancosSemITBI</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ValorAprovado__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LTVItau</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ValorBem__c} - ({!$Record.ValorBem__c}*0.1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LTVOutrosBancos</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ValorBem__c} - ({!$Record.ValorBem__c}*0.2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValorEntrada</name>
        <dataType>Currency</dataType>
        <expression>IF(
    NOT(ISBLANK({!$Record.ValorFGTS__c})),
    ({!$Record.ValorBem__c} - {!$Record.ValorAprovado__c} - {!$Record.ValorFGTS__c}),
    ({!$Record.ValorBem__c} - {!$Record.ValorAprovado__c})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValorITBIRegistro</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ValorBem__c} * ({!$Record.PorcentagemITBIRegistro__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Cotação] Criação e Atualização {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cotação] Criação e Atualização</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AtualizarOportunidade</name>
        <label>Atualizar Oportunidade</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Banco__c</field>
            <value>
                <elementReference>$Record.BancoParceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NProposta__c</field>
            <value>
                <elementReference>$Record.NProposta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoOperacao__c</field>
            <value>
                <elementReference>$Record.PrazoFinanciamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorFinanciamento__c</field>
            <value>
                <elementReference>$Record.ValorFinalFinanciamento__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarValorFinalFinanciamentoItau</name>
        <label>Atualizar valor final do financiamento- Itau</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Entrada__c</field>
            <value>
                <elementReference>ValorEntrada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LTV__c</field>
            <value>
                <elementReference>LTVItau</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorFinalFinanciamento__c</field>
            <value>
                <elementReference>FormulaItauSemITBI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarValorFinalFinanciamentoITBIItau</name>
        <label>Atualizar valor final do financiamento c/ ITBI - Itau</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Entrada__c</field>
            <value>
                <elementReference>ValorEntrada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LTV__c</field>
            <value>
                <elementReference>LTVItau</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorFinalFinanciamento__c</field>
            <value>
                <elementReference>FormulaItauITBI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorITBIRegistro__c</field>
            <value>
                <elementReference>ValorITBIRegistro</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarValorFinanciamentoOutrosBancos</name>
        <label>Atualizar valor Financiamento- Outros Bancos</label>
        <locationX>1898</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Entrada__c</field>
            <value>
                <elementReference>ValorEntrada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LTV__c</field>
            <value>
                <elementReference>LTVOutrosBancos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorFinalFinanciamento__c</field>
            <value>
                <elementReference>FormulaOutrosBancosSemITBI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaValorAprovadoItau</name>
        <label>Atualiza Valor Aprovado - Itaú</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>DecisoesCotacao</targetReference>
        </connector>
        <inputAssignments>
            <field>ValorAprovado__c</field>
            <value>
                <elementReference>LTVItau</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaValorAprovadoOutros</name>
        <label>Atualiza Valor Aprovado - Outros</label>
        <locationX>2030</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>DecisoesCotacao</targetReference>
        </connector>
        <inputAssignments>
            <field>ValorAprovado__c</field>
            <value>
                <elementReference>LTVOutrosBancos</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaValorFinanciamentoITBIOutrosBancos</name>
        <label>Atualiza Valor Financiamento c/ ITBI - Outros Bancos</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Entrada__c</field>
            <value>
                <elementReference>ValorEntrada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LTV__c</field>
            <value>
                <elementReference>LTVOutrosBancos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorFinalFinanciamento__c</field>
            <value>
                <elementReference>FormulaOutrosBancosITBI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorITBIRegistro__c</field>
            <value>
                <elementReference>ValorITBIRegistro</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaValorITBI</name>
        <label>Atualiza Valor ITBI</label>
        <locationX>2690</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>ValorITBIRegistro__c</field>
            <value>
                <elementReference>ValorITBIRegistro</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CriteriosEdicaoProdutosFinanceiros</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>BloquearCotacao</name>
        <label>BloquearCotacao</label>
        <locationX>2426</locationX>
        <locationY>947</locationY>
        <flowName>CotacaoBloqueioCotacao</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>MsgBloqueioCotacao</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Cotação bloqueada a partir de agora! Alterações futuras não poderão ser realizadas.</text>
    </textTemplates>
</Flow>
