force-app/main/default/flows/CriarParceiro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>VerificaStatusParceiro</name>
        <label>Verifica status do Parceiro</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ErroStatusParceiro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>StatusParceiroAtivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParceirosTable.firstSelectedRow.StatusParceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRTParceiroTimeRelacionamento</targetReference>
            </connector>
            <label>Status do parceiro Ativo</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaTipoObjeto</name>
        <label>Verifica tipo de objeto</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ObjetoOportunidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoObjeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oportunidade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarTimeRelacionamento</targetReference>
            </connector>
            <label>Objeto oportunidade</label>
        </rules>
        <rules>
            <name>ObjetoLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoObjeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarParceiro</targetReference>
            </connector>
            <label>Objeto lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TipoObjeto</name>
        <dataType>String</dataType>
        <expression>IF(
   BEGINS({!recordId}, &quot;006&quot;), &quot;Oportunidade&quot;,
   IF(
      BEGINS({!recordId}, &quot;00Q&quot;), &quot;Lead&quot;, 
      &quot;&quot;
   )
)</expression>
    </formulas>
    <interviewLabel>[Oportunidade] - Criar time de relacionamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar parceiro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarParceiro</name>
        <label>Criar parceiro</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>ParceirosTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Parceiro__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CriarTimeRelacionamento</name>
        <label>Criar time de relacionamento</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>ParceirosTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRTParceiroTimeRelacionamento.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeRelacionamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContaParceiro</name>
        <label>Get Conta Parceiro</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelecionaParceiro</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ParametroBuscaParceiro</elementReference>
            </value>
        </filters>
        <filters>
            <field>Documento__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ParametroBuscaParceiro</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parceiro__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRTParceiroTimeRelacionamento</name>
        <label>Get RT Parceiro Time Relacionamento</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaTipoObjeto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parceiro</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TimeRelacionamento__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>BuscarParceiro</name>
        <label>Buscar Parceiro</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetContaParceiro</targetReference>
        </connector>
        <fields>
            <name>ParametroBuscaParceiro</name>
            <dataType>String</dataType>
            <fieldText>Pesquise utilizando Nome ou Documento</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErroStatusParceiro</name>
        <label>Erro status parceiro</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <fields>
            <name>MensagemErro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;*﻿Você não pode adicionar um parceiro que não esteja aprovado pelo Compliance.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelecionaParceiro</name>
        <label>Seleciona Parceiro</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <connector>
            <targetReference>VerificaStatusParceiro</targetReference>
        </connector>
        <fields>
            <name>ParceirosTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parceiros</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetContaParceiro</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>ParceirosTable.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d32a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome da conta&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Documento__c&quot;,&quot;guid&quot;:&quot;column-6276&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Documento&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TipoParceiro__c&quot;,&quot;guid&quot;:&quot;column-8cb9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Tipo de parceiro&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StatusParceiro__c&quot;,&quot;guid&quot;:&quot;column-805e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status do parceiro&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Próximo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BuscarParceiro</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
