force-app/main/default/flows/DadoBancarioCriacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>TipoTransacaoDadoBancario</name>
        <label>Tipo de transação Dado Bancario</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TipoOrigem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadDadoBancarioOrigem</targetReference>
            </connector>
            <label>Tipo: Origem</label>
        </rules>
        <rules>
            <name>TipoDevolucao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadDadoBancarioDevolucao</targetReference>
            </connector>
            <label>Tipo: Devolução</label>
        </rules>
        <rules>
            <name>TipoOrigemDevolucao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I/O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadDadoBancarioOrigemDevolucao</targetReference>
            </connector>
            <label>Tipo: Origem e Devolução</label>
        </rules>
        <rules>
            <name>OrigemDevolucao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlteraParraDevolucao</targetReference>
            </connector>
            <label>Origem x Devolução</label>
        </rules>
        <rules>
            <name>OrigemXOrigemDevolucao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I/O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlteraParaOrigemDevolucao</targetReference>
            </connector>
            <label>Origem x Origem Devolução</label>
        </rules>
        <rules>
            <name>DevolucaoOrigem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlteraDevolucaoParaOrigem</targetReference>
            </connector>
            <label>Devolução x Origem</label>
        </rules>
        <rules>
            <name>DevolucaoOrigemDevolucao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I/O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlteraDevolucaoParaOrigemDevolucao</targetReference>
            </connector>
            <label>Devolução x Origem Devolução</label>
        </rules>
        <rules>
            <name>OrigemDevolucaoOrigem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I/O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlteraParaOrigem</targetReference>
            </connector>
            <label>Origem Devolução x Origem</label>
        </rules>
        <rules>
            <name>OrgemDevolucaoParaDevolucao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I/O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TipoTransacao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlteraDevolucao</targetReference>
            </connector>
            <label>OrgemDevolucaoParaDevolucao</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Criação - Dado Bancários {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Dado Bancário] - Criação e Edição</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AlteraDevolucao</name>
        <label>AlteraDevolucao</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Devolucao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigemDevolucao__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>AlteraDevolucaoParaOrigem</name>
        <label>AlteraDevolucaoParaOrigem</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Devolucao__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>AlteraDevolucaoParaOrigemDevolucao</name>
        <label>AlteraDevolucaoParaOrigemDevolucao</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Devolucao__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigemDevolucao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>AlteraParaOrigem</name>
        <label>AlteraPara Origem</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrigemDevolucao__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>AlteraParaOrigemDevolucao</name>
        <label>AlteraParaOrigemDevolucao</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrigemDevolucao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>AlteraParraDevolucao</name>
        <label>AlteraParaDevolucao</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Devolucao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origem__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>LeadDadoBancarioDevolucao</name>
        <label>Lead Dado Bancário Devolução</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Devolucao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>LeadDadoBancarioOrigem</name>
        <label>Lead Dado Bancário Origem</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Origem__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>LeadDadoBancarioOrigemDevolucao</name>
        <label>Lead Dado Bancário Origem e Devolução</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrigemDevolucao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TipoTransacaoDadoBancario</targetReference>
        </connector>
        <object>DadoBancario__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
