force-app/main/default/flows/InformacoesFinanceirasOportunidadeBeforeDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AtribuiPercentualPendente</name>
        <label>Atribui percentual pendente</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>ObterContratoRelacionado.PercentualPendente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentualUtilizado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarContratoRelacionado</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>ImpedeExclusaoGarantiasIntegradas</name>
        <label>Impede exclusão de garantias integradas</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível excluir um registro de garantia quando o contrato relacionado já foi assinado.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Verifica se o contrato já foi integrado no contrato.</description>
        <name>VerificarIntegracaoGarantia</name>
        <label>Verificar integração de Garantia</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>ObterContratoRelacionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Garantia não integrada</defaultConnectorLabel>
        <rules>
            <name>GarantiaIntegrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PercentualIntegrado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImpedeExclusaoGarantiasIntegradas</targetReference>
            </connector>
            <label>Garantia integrada?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaTipoRegistro</name>
        <label>Verifica tipo de registro</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Garantia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garantia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificarIntegracaoGarantia</targetReference>
            </connector>
            <label>Garantia?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PercentualUtilizado</name>
        <dataType>Number</dataType>
        <expression>IF(
    OR(ISBLANK({!$Record.Utilizado__c}), {!$Record.PercentualPendente__c} = false),
    {!ObterContratoRelacionado.PercentualPendente__c},
    IF(
         {!$Record.Utilizado__c} &gt; {!ObterContratoRelacionado.PercentualPendente__c},
         0,
         {!ObterContratoRelacionado.PercentualPendente__c} - {!$Record.Utilizado__c}
     )
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Informações financeiras da oportunidade] Before delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Informações financeiras da oportunidade] Before delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObterContratoRelacionado</name>
        <label>Obter contrato relacionado</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiPercentualPendente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contrato__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contrato__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarContratoRelacionado</name>
        <label>Atualizar contrato relacionado</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <inputReference>ObterContratoRelacionado</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerificaTipoRegistro</targetReference>
        </connector>
        <object>InformacoesFinanceirasOportunidade__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
