force-app/main/default/flows/LeadFluxoTelaConversao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConverterLeadProdutosFinanceiros</name>
        <label>Método Converter Lead Produtos Financeiros</label>
        <locationX>2888</locationX>
        <locationY>1730</locationY>
        <actionName>ConversaoLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Convertido</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentoLead</name>
            <value>
                <elementReference>ObterLead.Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>ObterLead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nomeOportunidade</name>
            <value>
                <elementReference>nomeOportunidade</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConversaoLead</nameSegment>
        <outputParameters>
            <assignToReference>contaId</assignToReference>
            <name>contaId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>oportunidadeId</assignToReference>
            <name>oportunidadeId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MetodoConverterLeadCaptacaoInvestimentos</name>
        <label>Método Converter Lead Captação e Investimentos</label>
        <locationX>2624</locationX>
        <locationY>1730</locationY>
        <actionName>ConversaoLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Envio de contrato</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentoLead</name>
            <value>
                <elementReference>ObterLead.Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>ObterLead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nomeOportunidade</name>
            <value>
                <elementReference>nomeOportunidade</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConversaoLead</nameSegment>
        <outputParameters>
            <assignToReference>contaId</assignToReference>
            <name>contaId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>oportunidadeId</assignToReference>
            <name>oportunidadeId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MetodoConverterLeadProdutosFinanceiros</name>
        <label>Método Converter Lead Produtos Financeiros</label>
        <locationX>3152</locationX>
        <locationY>1730</locationY>
        <actionName>ConversaoLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Convertido</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentoLead</name>
            <value>
                <elementReference>ObterLead.Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>ObterLead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nomeOportunidade</name>
            <value>
                <elementReference>nomeOportunidade</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConversaoLead</nameSegment>
        <outputParameters>
            <assignToReference>contaId</assignToReference>
            <name>contaId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>oportunidadeId</assignToReference>
            <name>oportunidadeId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MetodoConverterLeadSecuritizadora</name>
        <label>Método Converter Lead Securitizadora</label>
        <locationX>2360</locationX>
        <locationY>1730</locationY>
        <actionName>ConversaoLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ObterConta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Convertido</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentoLead</name>
            <value>
                <elementReference>ObterLead.Documento__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>ObterLead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nomeOportunidade</name>
            <value>
                <elementReference>nomeOportunidade</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConversaoLead</nameSegment>
        <outputParameters>
            <assignToReference>contaId</assignToReference>
            <name>contaId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>oportunidadeId</assignToReference>
            <name>oportunidadeId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OpenRecordOpportunity</name>
        <label>OpenRecordOpportunity</label>
        <locationX>2888</locationX>
        <locationY>8198</locationY>
        <actionName>c:DefinitionPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DefinitionPageNavigation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AtribuicaoDadosBancarios</name>
        <label>Atribuição Dados Bancários</label>
        <locationX>3042</locationX>
        <locationY>3578</locationY>
        <assignmentItems>
            <assignToReference>RegistroIFC.Agencia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancarios.Agencia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.Conta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancarios.Conta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.DV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancarios.DV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.InstituicaoFinaneira__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancarios.InstituicaoFinanceira__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.ContaRelacionada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRecTypeIFCDadoBancario.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.TipoConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancarios.Tipo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.LeadConvertido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.PercentualInvestimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancarios.PercentualInvestimento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.TipoTransacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancarios.TipoTransacao__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInformacoesFinanceirasContaExistente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuicaoIFO</name>
        <label>Atribuição IFO</label>
        <locationX>2690</locationX>
        <locationY>5102</locationY>
        <assignmentItems>
            <assignToReference>RegistroIFO.InformacesFinanceirasConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoIFOportunidade.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.TipoInformacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dado bancário</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.Oportunidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.TipoConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoIFOportunidade.TipoConta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.PercentualInvestimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoIFOportunidade.PercentualInvestimento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.TipoTransacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoIFOportunidade.TipoTransacao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRTDadosBancariosInvestimentos.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirListaIFO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuicaoIFODadoBancario</name>
        <label>Atribuição IFO Dado Bancário</label>
        <locationX>3790</locationX>
        <locationY>6782</locationY>
        <assignmentItems>
            <assignToReference>RegistroIFO.InformacesFinanceirasConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoIFDBOportunidade.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.TipoInformacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dado bancário</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.Oportunidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.TipoConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoIFDBOportunidade.TipoConta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.PercentualInvestimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoIFDBOportunidade.PercentualInvestimento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.TipoTransacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoIFDBOportunidade.TipoTransacao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFO.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRTDadosBancarios.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirListaIFODadoBancario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuicaoRendaComplementar</name>
        <label>Atribuição Renda Complementar</label>
        <locationX>3790</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>RegistroIFC.Celular__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.Celular__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.ContaRelacionada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.Documento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.EstadoCivil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.EstadoCivil__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.Nome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.NomeCompleto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.Renda__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.Renda__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.Telefone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.Telefone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.TipoRenda__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.TipoRenda__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.TipoPessoa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.TipoPessoa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRTRenda.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.CelularInternacional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.CelularInternacional__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.TelefoneInternacional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularRenda.TelefoneInternacional__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirRendaComplementar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiDadoBancario</name>
        <label>Atribui Dado Bancário</label>
        <locationX>4142</locationX>
        <locationY>5150</locationY>
        <assignmentItems>
            <assignToReference>RegistroIFC.Agencia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancariosProdutosFinanceiros.Agencia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.Conta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancariosProdutosFinanceiros.Conta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.DV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancariosProdutosFinanceiros.DV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.InstituicaoFinaneira__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancariosProdutosFinanceiros.InstituicaoFinanceira__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.ContaRelacionada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contaId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRecTypeIFCDB.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.TipoConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancariosProdutosFinanceiros.Tipo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.LeadConvertido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.PercentualInvestimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancariosProdutosFinanceiros.PercentualInvestimento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroIFC.TipoTransacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularDadosBancariosProdutosFinanceiros.TipoTransacao__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiListaIFORenda</name>
        <label>Atribui Lista IFO Renda</label>
        <locationX>3790</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>ListaIFORenda</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroRenda</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuicaoRendaOPP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirDadosPessoaisInvestimentos</name>
        <label>Atribuir dados pessoais - Investimentos</label>
        <locationX>2470</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.EstadoCivil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.EstadoCivil__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.RG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.RG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TipoContaInvestimentos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirDadosPessoaisOperacoesEstruturadas</name>
        <label>Atribuir dados pessoais - Operações estruturadas</label>
        <locationX>1502</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.ProdutosInteresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.ProdutoInteresse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificaTipoOperacoesEstruturadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiRenda</name>
        <label>AtribuiRenda</label>
        <locationX>3790</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>RegistroRenda.InformacesFinanceirasConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoRendaOPP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroRenda.TipoInformacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renda</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroRenda.Oportunidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroRenda.TipoRenda__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtribuicaoRendaOPP.TipoRenda__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroRenda.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRTCadastrarRenda.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuiListaIFORenda</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirIFCListaProdutosFinanceiros</name>
        <label>Atribuir IFC na Lista - Produtos Financeiros</label>
        <locationX>4010</locationX>
        <locationY>5858</locationY>
        <assignmentItems>
            <assignToReference>ListaIFC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroIFC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VincularDadosBancariosProdutosFinanceiros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirLeadConvertidoIFCExistente</name>
        <label>Atribuir Lead convertido na IFC existente</label>
        <locationX>3130</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>LoopInformacoesFinanceirasContaExistente.LeadConvertido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopInformacoesFinanceirasContaExistente.TipoConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegistroIFC.TipoConta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaIFCDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroIFC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaIFCExistente</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInformacoesFinanceirasContaExistente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInformacoesFinanceirasContaExistente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirLeadConvertidoIFCExistenteProdutosFinanceiros</name>
        <label>Atribuir Lead convertido na IFC existente - Produtos Financeiros</label>
        <locationX>4230</locationX>
        <locationY>5474</locationY>
        <assignmentItems>
            <assignToReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros.LeadConvertido__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros.TipoConta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegistroIFC.TipoConta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaIFCDuplicados</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroIFC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaIFCExistente</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirLista</name>
        <label>Atribuir Lista</label>
        <locationX>2910</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>ListaIFC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroIFC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VincularDadosBancarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirListaIFO</name>
        <label>AtribuirListaIFO</label>
        <locationX>2690</locationX>
        <locationY>5210</locationY>
        <assignmentItems>
            <assignToReference>ListaIFO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroIFO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuicaoIFOportunidade</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirListaIFODadoBancario</name>
        <label>AtribuirListaIFODadoBancario</label>
        <locationX>3790</locationX>
        <locationY>6890</locationY>
        <assignmentItems>
            <assignToReference>ListaIFO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroIFO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuicaoIFDBOportunidade</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirListaParceiroTimeRelacionamento</name>
        <label>Atribuir lista Parceiro Time Relacionamento</label>
        <locationX>3790</locationX>
        <locationY>7706</locationY>
        <assignmentItems>
            <assignToReference>ListaParceiroTimeRelacionamento</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroParceiroTimeRelacionamento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VincularParceiros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirNomeContaComercial</name>
        <label>Atribuir Nome Conta Comercial</label>
        <locationX>2888</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>nomeOportunidade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.Company</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConverterLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirNomerContaPessoal</name>
        <label>Atribuir Nome Conta Pessoal</label>
        <locationX>2624</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>nomeOportunidade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConverterLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirParceiro</name>
        <label>Atribuir Parceiro</label>
        <locationX>3790</locationX>
        <locationY>7598</locationY>
        <assignmentItems>
            <assignToReference>RegistroParceiroTimeRelacionamento.Oportunidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroParceiroTimeRelacionamento.Conta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VincularParceiros.Conta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegistroParceiroTimeRelacionamento.TipoRelacionamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parceiro</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtribuirListaParceiroTimeRelacionamento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirRendaComplementar</name>
        <label>Atribuir Renda Complementar</label>
        <locationX>3790</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>ListaIFC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RegistroIFC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VincularRenda</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirTipoInvestimentosProspect</name>
        <label>Atribuir Tipo Investimentos Prospect</label>
        <locationX>2470</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.TipoInvestimentos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ObterRecTypeIFCDadoBancario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirTipoOperacoesEstruturadasProspect</name>
        <label>Atribuir Tipo Operações estruturadas Prospect</label>
        <locationX>1370</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.TipoOperacoesEstruturadas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarContaValoresLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirTipoProdFinanceirosProspect</name>
        <label>Atribuir Tipo Prod Financeiros Prospect</label>
        <locationX>3570</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.TipoProdutosFinanceiros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ObterRTRenda</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirValoresContaPF</name>
        <label>Atribuir valores Conta - PF</label>
        <locationX>2756</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.AreaInteresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.AreaInteresse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Celular__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.DataNascimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.DataNascimento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Funcionario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.Funcionario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificaCampoConta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirValoresContaPJ</name>
        <label>Atribuir valores Conta - PJ</label>
        <locationX>3020</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>ObterConta.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Funcionario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.Funcionario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObterConta.AreaInteresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterLead.AreaInteresse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificaCampoConta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LimparListaIFC</name>
        <label>LimparListaIFC</label>
        <locationX>3702</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>ListaIFC</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LimparListaIFO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LimparListaIFO</name>
        <label>LimparListaIFO</label>
        <locationX>3702</locationX>
        <locationY>4826</locationY>
        <assignmentItems>
            <assignToReference>ListaIFO</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ObterInformacoesFinanceirasContaExistenteProdutosFinanceiros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LimparListaIFO2Loop</name>
        <label>LimparListaIFO2Loop</label>
        <locationX>3702</locationX>
        <locationY>6350</locationY>
        <assignmentItems>
            <assignToReference>ListaIFO</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ObterIFCProdutosFinanceiros</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TipoContaInvestimentos</name>
        <label>Tipo Conta Investimentos</label>
        <locationX>2602</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>ObterRecTypeIFCDadoBancario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TipoInvestimentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.TipoInvestimentos__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirTipoInvestimentosProspect</targetReference>
            </connector>
            <label>Tipo Investimentos</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoContaProdFinanceiro</name>
        <label>Tipo Conta Prod Financeiro</label>
        <locationX>3702</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>ObterRTRenda</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PrdFinanceiroVazio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.TipoProdutosFinanceiros__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirTipoProdFinanceirosProspect</targetReference>
            </connector>
            <label>Prd Financeiro Vazio</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidaCamposObrigatorios</name>
        <label>Valida campos obrigatórios</label>
        <locationX>1865</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>VerificarTipoLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CaptacaoInvestimento</name>
            <conditionLogic>( 1 AND 11 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 ) ) or ( 1 AND  (  3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 10))</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.EstadoCivil__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.Taxa__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.Periodo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.Documento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.ValorEstimado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.PrazoOperacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.RG__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.TipoPessoa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.TipoPessoa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pessoa física</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenObrigatoriedade</targetReference>
            </connector>
            <label>Captação e Investimento</label>
        </rules>
        <rules>
            <name>ProdFinanceiros</name>
            <conditionLogic>1 AND ((2 AND (3 OR 4)) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceiros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.ComporRenda__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterRendaComplementar</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterDadoBancario</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.TipoPessoa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenObrigatoriedadeProdutosFinanceiros</targetReference>
            </connector>
            <label>ProdFinanceiros</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decisão criada para evitar com que existam erros durante a conversão ao excluir registros inexistentes.</description>
        <name>ValidarExistenciaDadosBancarios</name>
        <label>Validar existência de dados bancários</label>
        <locationX>3702</locationX>
        <locationY>7190</locationY>
        <defaultConnector>
            <targetReference>VincularParceiros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>DadosBancariosExistentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterDadoBancario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcluirDadoBancarioProdutosFinanceiros</targetReference>
            </connector>
            <label>Dados bancários existentes?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decisão criada para evitar com que existam erros durante a conversão ao excluir registros inexistentes.</description>
        <name>ValidarExistenciaRendasComplementares</name>
        <label>Validar existência de rendas complementares</label>
        <locationX>3702</locationX>
        <locationY>4310</locationY>
        <defaultConnector>
            <targetReference>ObterRecTypeIFCDB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>RendasComplementaresExistentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterRendaComplementar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcluirRendaComplementar</targetReference>
            </connector>
            <label>Rendas complementares existentes?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaCampoConta</name>
        <label>Verifica Campo Conta</label>
        <locationX>2888</locationX>
        <locationY>2330</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>UnidadeOperacoesEstruturadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OperacoesEstruturadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecTypeOperacoesEstruturadas</targetReference>
            </connector>
            <label>Unidade Operações Estruturadas</label>
        </rules>
        <rules>
            <name>UnidadeInvestimentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecTypeOppInvestimentos</targetReference>
            </connector>
            <label>Unidade Investimentos</label>
        </rules>
        <rules>
            <name>UnidadeProdutosFinanceiros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecTypeOppProdutosFinanceiros</targetReference>
            </connector>
            <label>Unidade Produtos Financeiros</label>
        </rules>
        <rules>
            <name>UnidadeProdutosFinanceirosVeiculos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceirosVeiculos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecTypeOppProdutosFinanceirosVeiculos</targetReference>
            </connector>
            <label>Unidade Produtos Financeiros - Veículos</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificacaoStatusLead</name>
        <label>Verificação Status de Lead</label>
        <locationX>1464</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ObterDadoBancario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead ainda não convertido</defaultConnectorLabel>
        <rules>
            <name>LeadConvertido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscarContaLeadConvertido</targetReference>
            </connector>
            <label>Lead convertido</label>
        </rules>
        <rules>
            <name>LeadAtribuidoFila</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaInformacaoLeadAtribuidoFila</targetReference>
            </connector>
            <label>Lead atribuído à uma fila</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificacaoTipoPessoa</name>
        <label>Verificação de Tipo de pessoa</label>
        <locationX>2888</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>AtribuirValoresContaPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pessoa Jurídica?</defaultConnectorLabel>
        <rules>
            <name>PessoaFisica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.TipoPessoa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pessoa física</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirValoresContaPF</targetReference>
            </connector>
            <label>Pessoa Física?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificacaoValoresInformacaoFinanceiraConta</name>
        <label>Verificação de valores da Informação Financeira da Conta</label>
        <locationX>3262</locationX>
        <locationY>3794</locationY>
        <defaultConnector>
            <targetReference>LoopInformacoesFinanceirasContaExistente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valores diferentes de Dado bancário</defaultConnectorLabel>
        <rules>
            <name>MesmosValoresDadoBancario</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND NOT(5))</conditionLogic>
            <conditions>
                <leftValueReference>LoopInformacoesFinanceirasContaExistente.Agencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RegistroIFC.Agencia__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopInformacoesFinanceirasContaExistente.Conta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RegistroIFC.Conta__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopInformacoesFinanceirasContaExistente.DV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RegistroIFC.DV__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopInformacoesFinanceirasContaExistente.InstituicaoFinaneira__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RegistroIFC.InstituicaoFinaneira__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListaIFCExistente</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopInformacoesFinanceirasContaExistente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirLeadConvertidoIFCExistente</targetReference>
            </connector>
            <label>Mesmos valores de Dado bancário</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificacaoValoresInformacaoFinanceiraContaProdutosFinanceiros</name>
        <label>Verificação de valores da Informação Financeira da Conta - Produtos Financeiros</label>
        <locationX>4362</locationX>
        <locationY>5366</locationY>
        <defaultConnector>
            <targetReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valores diferentes de Dado bancário</defaultConnectorLabel>
        <rules>
            <name>MesmosValoresDadoBancarioProdutosFinanceiros</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND NOT(5))</conditionLogic>
            <conditions>
                <leftValueReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros.Agencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RegistroIFC.Agencia__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros.Conta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RegistroIFC.Conta__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros.DV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RegistroIFC.DV__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros.InstituicaoFinaneira__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RegistroIFC.InstituicaoFinaneira__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListaIFCExistente</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirLeadConvertidoIFCExistenteProdutosFinanceiros</targetReference>
            </connector>
            <label>Mesmos valores de Dado bancário - Produtos Financeiros</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaDadoBancarioOrigemDevolucao</name>
        <label>Verifica Dado Bancário Origem e Devolução</label>
        <locationX>1221</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>ValidaCamposObrigatorios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PreenchimentoDados</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.Origem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.Devolucao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterLead.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenObrigatoriedade</targetReference>
            </connector>
            <label>Preenchimento dos dados</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaIFCAtualJaEncontrado</name>
        <label>Verifica se o IFC atual já foi encontrado</label>
        <locationX>3042</locationX>
        <locationY>4178</locationY>
        <defaultConnector>
            <targetReference>VincularDadosBancarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IFCNaoEncontrado</name>
            <conditionLogic>NOT (1)</conditionLogic>
            <conditions>
                <leftValueReference>ListaIFCDuplicados</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RegistroIFC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirLista</targetReference>
            </connector>
            <label>IFC não encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaIFCAtualJaEncontradoProdutosFinanceiros</name>
        <label>Verifica se o IFC atual já foi encontrado - Produtos Financeiros</label>
        <locationX>4142</locationX>
        <locationY>5750</locationY>
        <defaultConnector>
            <targetReference>VincularDadosBancariosProdutosFinanceiros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IFCNaoEncontradoProdutosFinanceiros</name>
            <conditionLogic>NOT (1)</conditionLogic>
            <conditions>
                <leftValueReference>ListaIFCDuplicados</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RegistroIFC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirIFCListaProdutosFinanceiros</targetReference>
            </connector>
            <label>IFC não encontrado - Produtos Financeiros</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaOrigemDevolucao</name>
        <label>Verifica Origem e Devolução</label>
        <locationX>2879</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ValidaCamposObrigatorios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OrigemDevolucao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.OrigemDevolucao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificaDadoBancarioOrigemDevolucao</targetReference>
            </connector>
            <label>Origem e Devolução</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarTipoLead</name>
        <label>Verificar Tipo de Lead</label>
        <locationX>2888</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>ScreenObrigatoriedadeTipoPessoa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ContaPessoal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.TipoPessoa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pessoa física</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirNomerContaPessoal</targetReference>
            </connector>
            <label>Conta Pessoal</label>
        </rules>
        <rules>
            <name>ContaComercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.TipoPessoa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pessoa jurídica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirNomeContaComercial</targetReference>
            </connector>
            <label>Conta Comercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarTipoPessoaInvestimentos</name>
        <label>Verificar Tipo de pessoa - Investimentos</label>
        <locationX>2602</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>TipoContaInvestimentos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PessoaFisicaInvestimentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.TipoPessoa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pessoa física</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirDadosPessoaisInvestimentos</targetReference>
            </connector>
            <label>Pessoa Física?</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarTipoRegistro</name>
        <label>Verificar Tipo de Registro</label>
        <locationX>2888</locationX>
        <locationY>1622</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Securitizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OperacoesEstruturadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MetodoConverterLeadSecuritizadora</targetReference>
            </connector>
            <label>Securitizadora</label>
        </rules>
        <rules>
            <name>Investimentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MetodoConverterLeadCaptacaoInvestimentos</targetReference>
            </connector>
            <label>Investimentos</label>
        </rules>
        <rules>
            <name>ProdutosFinanceiros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConverterLeadProdutosFinanceiros</targetReference>
            </connector>
            <label>Produtos Financeiros</label>
        </rules>
        <rules>
            <name>ProdutosFinanceirosVeiculos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterLead.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceirosVeiculos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MetodoConverterLeadProdutosFinanceiros</targetReference>
            </connector>
            <label>Produtos Financeiros - Veículos</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaTipoOperacoesEstruturadas</name>
        <label>Verifica Tipo Operações Estruturadas</label>
        <locationX>1502</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>AtualizarContaValoresLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OperacoesEstruturadasVazio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterConta.TipoOperacoesEstruturadas__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuirTipoOperacoesEstruturadasProspect</targetReference>
            </connector>
            <label>Operações Estruturadas Vazio</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AdressIsBlank</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    ISBLANK({!ObterLead.Street}), true, false
)</expression>
    </formulas>
    <formulas>
        <name>LinkContaLeadConvertido</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!ObterLead.ConvertedAccountId}</expression>
    </formulas>
    <formulas>
        <name>ValidaEndereco</name>
        <dataType>Boolean</dataType>
        <expression>AND(
         ISBLANK({!ObterLead.Address})
)</expression>
    </formulas>
    <interviewLabel>Lead - Fluxo de tela para conversão {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] - Fluxo de tela para conversão</label>
    <loops>
        <name>AtribuicaoIFDBOportunidade</name>
        <label>Atribuição IF DB da Oportunidade</label>
        <locationX>3702</locationX>
        <locationY>6674</locationY>
        <collectionReference>ObterIFCProdutosFinanceiros</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuicaoIFODadoBancario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CriarIFODadoBancario</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AtribuicaoIFOportunidade</name>
        <label>Atribuição IF da Oportunidade</label>
        <locationX>2602</locationX>
        <locationY>4994</locationY>
        <collectionReference>ObterIFC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuicaoIFO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CriarIFO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AtribuicaoRendaOPP</name>
        <label>Atribuição Renda OPP</label>
        <locationX>3702</locationX>
        <locationY>3794</locationY>
        <collectionReference>ObterIFCRenda</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuiRenda</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CriarIFORenda</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop para verificação de registros na possível conta existente.</description>
        <name>LoopInformacoesFinanceirasContaExistente</name>
        <label>Loop Informações Financeiras da Conta existente</label>
        <locationX>3042</locationX>
        <locationY>3686</locationY>
        <collectionReference>ObterInformacoesFinanceirasContaExistente</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerificacaoValoresInformacaoFinanceiraConta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerificaIFCAtualJaEncontrado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop para verificação de registros na possível conta existente.</description>
        <name>LoopInformacoesFinanceirasContaExistenteProdutosFinanceiros</name>
        <label>Loop Informações Financeiras da Conta existente - Produtos Financeiros</label>
        <locationX>4142</locationX>
        <locationY>5258</locationY>
        <collectionReference>ObterInformacoesFinanceirasContaExistenteProdutosFinanceiros</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VerificacaoValoresInformacaoFinanceiraContaProdutosFinanceiros</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerificaIFCAtualJaEncontradoProdutosFinanceiros</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>VincularDadosBancarios</name>
        <label>Vincular Dados Bancários</label>
        <locationX>2602</locationX>
        <locationY>3470</locationY>
        <collectionReference>ObterDadoBancario</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuicaoDadosBancarios</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CriarIFC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>VincularDadosBancariosProdutosFinanceiros</name>
        <label>Vincular Dados Bancários - Produtos Financeiros</label>
        <locationX>3702</locationX>
        <locationY>5042</locationY>
        <collectionReference>ObterDadoBancario</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuiDadoBancario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CriarIFCProdutosFinanceiros</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>VincularParceiros</name>
        <label>Vincular Parceiros</label>
        <locationX>3702</locationX>
        <locationY>7490</locationY>
        <collectionReference>ObterParceiro</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuirParceiro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CriarParceiroTimeRelacionamento</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>VincularRenda</name>
        <label>Vincular Renda</label>
        <locationX>3702</locationX>
        <locationY>3062</locationY>
        <collectionReference>ObterRendaComplementar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuicaoRendaComplementar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CriarRendaConta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarIFC</name>
        <label>Criar IFC</label>
        <locationX>2602</locationX>
        <locationY>4562</locationY>
        <connector>
            <targetReference>AtualizarIFCExistente</targetReference>
        </connector>
        <inputReference>ListaIFC</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CriarIFCProdutosFinanceiros</name>
        <label>Criar IFC Produtos Finaneiros</label>
        <locationX>3702</locationX>
        <locationY>6134</locationY>
        <connector>
            <targetReference>AtualizarIFCExistenteProdutosFinanceiros</targetReference>
        </connector>
        <inputReference>ListaIFC</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CriarIFO</name>
        <label>Criar IFO</label>
        <locationX>2602</locationX>
        <locationY>5402</locationY>
        <connector>
            <targetReference>ExcluirDadoBancario</targetReference>
        </connector>
        <inputReference>ListaIFO</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CriarIFODadoBancario</name>
        <label>Criar IFO Dado Bancário</label>
        <locationX>3702</locationX>
        <locationY>7082</locationY>
        <connector>
            <targetReference>ValidarExistenciaDadosBancarios</targetReference>
        </connector>
        <inputReference>ListaIFO</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CriarIFORenda</name>
        <label>Criar IFO Renda</label>
        <locationX>3702</locationX>
        <locationY>4202</locationY>
        <connector>
            <targetReference>ValidarExistenciaRendasComplementares</targetReference>
        </connector>
        <inputReference>ListaIFORenda</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CriarParceiroTimeRelacionamento</name>
        <label>Criar Parceiro Time Relacionamento</label>
        <locationX>3702</locationX>
        <locationY>7898</locationY>
        <connector>
            <targetReference>AtualizarContaValoresLead</targetReference>
        </connector>
        <inputReference>ListaParceiroTimeRelacionamento</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CriarRendaConta</name>
        <label>Criar Renda Conta</label>
        <locationX>3702</locationX>
        <locationY>3470</locationY>
        <connector>
            <targetReference>ObterIFCRenda</targetReference>
        </connector>
        <inputReference>ListaIFC</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>ExcluirDadoBancario</name>
        <label>Excluir Dado Bancário</label>
        <locationX>2602</locationX>
        <locationY>5510</locationY>
        <connector>
            <targetReference>AtualizarContaValoresLead</targetReference>
        </connector>
        <inputReference>ObterDadoBancario</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>ExcluirDadoBancarioProdutosFinanceiros</name>
        <label>Excluir Dado Bancário Produtos Financeiros</label>
        <locationX>3570</locationX>
        <locationY>7298</locationY>
        <connector>
            <targetReference>VincularParceiros</targetReference>
        </connector>
        <inputReference>ObterDadoBancario</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>ExcluirRendaComplementar</name>
        <label>Excluir Renda Complementar</label>
        <locationX>3570</locationX>
        <locationY>4418</locationY>
        <connector>
            <targetReference>ObterRecTypeIFCDB</targetReference>
        </connector>
        <inputReference>ObterRendaComplementar</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>BuscarContaLeadConvertido</name>
        <label>Buscar Conta Lead convertido</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TelaInformacaoLeadConvertido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterLead.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterConta</name>
        <label>Obter Conta</label>
        <locationX>2888</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificacaoTipoPessoa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contaId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterDadoBancario</name>
        <label>Obter Dado Bancário</label>
        <locationX>2879</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterRendaComplementar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DadoBancario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterIFC</name>
        <label>ObterIFC</label>
        <locationX>2602</locationX>
        <locationY>4778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterRTDadosBancariosInvestimentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContaRelacionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contaId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterRecTypeIFCDadoBancario.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadConvertido__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InformcoesFinanceirasConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterIFCProdutosFinanceiros</name>
        <label>ObterIFCProdutosFinanceiros</label>
        <locationX>3702</locationX>
        <locationY>6458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterRTDadosBancarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContaRelacionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contaId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterRecTypeIFCDB.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadConvertido__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InformcoesFinanceirasConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterIFCRenda</name>
        <label>Obter IFC Renda</label>
        <locationX>3702</locationX>
        <locationY>3578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterRTCadastrarRenda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContaRelacionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contaId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterRTRenda.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InformcoesFinanceirasConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterInformacoesFinanceirasContaExistente</name>
        <label>Obter Informações Financeiras da Conta existente</label>
        <locationX>2602</locationX>
        <locationY>3362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VincularDadosBancarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContaRelacionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contaId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterRecTypeIFCDadoBancario.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InformcoesFinanceirasConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterInformacoesFinanceirasContaExistenteProdutosFinanceiros</name>
        <label>Obter Informações Financeiras da Conta existente - Produtos Financeiros</label>
        <locationX>3702</locationX>
        <locationY>4934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VincularDadosBancariosProdutosFinanceiros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContaRelacionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contaId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterRecTypeIFCDB.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InformcoesFinanceirasConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterLead</name>
        <label>Obter Lead</label>
        <locationX>1464</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificacaoStatusLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterOportunidade</name>
        <label>Obter Oportunidade</label>
        <locationX>2879</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaOrigemDevolucao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterParceiro</name>
        <label>Obter Parceiro</label>
        <locationX>2879</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Parceiro__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRecTypeIFCDadoBancario</name>
        <label>Obter Rec Type IFC - Dado bancário</label>
        <locationX>2602</locationX>
        <locationY>3254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterInformacoesFinanceirasContaExistente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformcoesFinanceirasConta__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DadoBancario</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRecTypeIFCDB</name>
        <label>Obter Rec Type IFC Dado Bancario</label>
        <locationX>3702</locationX>
        <locationY>4610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LimparListaIFC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformcoesFinanceirasConta__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DadoBancario</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRendaComplementar</name>
        <label>Obter Renda Complementar</label>
        <locationX>2879</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterParceiro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RendaComplementar__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRTCadastrarRenda</name>
        <label>Obter RT CadastrarRenda</label>
        <locationX>3702</locationX>
        <locationY>3686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuicaoRendaOPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CadastrarRenda</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformacoesFinanceirasOportunidade__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRTDadosBancarios</name>
        <label>Obter RT DadosBancarios</label>
        <locationX>3702</locationX>
        <locationY>6566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuicaoIFDBOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DadosBancarios</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformacoesFinanceirasOportunidade__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRTDadosBancariosInvestimentos</name>
        <label>Obter RT DadosBancarios</label>
        <locationX>2602</locationX>
        <locationY>4886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuicaoIFOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DadosBancarios</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformacoesFinanceirasOportunidade__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRTRenda</name>
        <label>Obter RT Renda</label>
        <locationX>3702</locationX>
        <locationY>2954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VincularRenda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CadastrarRenda</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformcoesFinanceirasConta__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecTypeOperacoesEstruturadas</name>
        <label>Rec Type Operações Estruturadas</label>
        <locationX>1502</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizaOportunidadeTipoOperacoesEstruturadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OperacoesEstruturadas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecTypeOppInvestimentos</name>
        <label>Rec Type Opp Investimentos</label>
        <locationX>2602</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizaOppInvestimentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investimentos</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecTypeOppProdutosFinanceiros</name>
        <label>Rec Type Opp Produtos Financeiros</label>
        <locationX>3702</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizaOppProdutosFinanceiros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProdutosFinanceiros</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecTypeOppProdutosFinanceirosVeiculos</name>
        <label>Rec Type Opp Produtos Financeiros</label>
        <locationX>4010</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizaOppProdutosFinanceirosVeiculos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProdutosFinanceirosVeiculos</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaOportunidadeTipoOperacoesEstruturadas</name>
        <label>Atualiza Oportunidade Tipo Operações estruturadas</label>
        <locationX>1502</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>AtribuirDadosPessoaisOperacoesEstruturadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecTypeOperacoesEstruturadas.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaOppInvestimentos</name>
        <label>Atualiza Opp Investimentos</label>
        <locationX>2602</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>VerificarTipoPessoaInvestimentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecTypeOppInvestimentos.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaOppProdutosFinanceiros</name>
        <label>Atualiza Opp Produtos Financeiros</label>
        <locationX>3702</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>TipoContaProdFinanceiro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Produto__c</field>
            <value>
                <elementReference>ObterLead.ProdutoNegociar__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecTypeOppProdutosFinanceiros.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Simulação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Produtos Financeiros</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaOppProdutosFinanceirosVeiculos</name>
        <label>Atualiza Opp Produtos Financeiros - Veiculos</label>
        <locationX>4010</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>AtualizarContaValoresLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oportunidadeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Produto__c</field>
            <value>
                <elementReference>ObterLead.ProdutoNegociar__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecTypeOppProdutosFinanceirosVeiculos.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Simulação</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Produtos financeiros - Veículos</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarContaValoresLead</name>
        <label>Atualizar Conta - valores Lead</label>
        <locationX>2888</locationX>
        <locationY>8090</locationY>
        <connector>
            <targetReference>OpenRecordOpportunity</targetReference>
        </connector>
        <inputReference>ObterConta</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarIFCExistente</name>
        <label>Atualizar IFC existente</label>
        <locationX>2602</locationX>
        <locationY>4670</locationY>
        <connector>
            <targetReference>ObterIFC</targetReference>
        </connector>
        <inputReference>ListaIFCExistente</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarIFCExistenteProdutosFinanceiros</name>
        <label>Atualizar IFC existente - Produtos Financeiros</label>
        <locationX>3702</locationX>
        <locationY>6242</locationY>
        <connector>
            <targetReference>LimparListaIFO2Loop</targetReference>
        </connector>
        <inputReference>ListaIFCExistente</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConverterLead</name>
        <label>Converter Lead</label>
        <locationX>2888</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VerificarTipoRegistro</targetReference>
        </connector>
        <fields>
            <name>TextoConversao</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Concluir conversão do Lead?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenObrigatoriedade</name>
        <label>ScreenObrigatoriedade</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoObrigatoriedade</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Para avançar na conversão do lead, é necessário o preenchimento dos seguintes campos:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;RG&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Documento&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Tipo de pessoa&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Estado civil&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Taxa&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Período&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Valor estimado do investimento&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Prazo da operação&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Celular&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10.5pt;&quot;&gt;01 registro de dado bancário do tipo: Origem e Devolução&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 10.5pt; color: rgb(0, 0, 0); font-family: Arial, sans-serif;&quot;&gt;OU&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10.5pt; color: rgb(0, 0, 0); font-family: Arial, sans-serif;&quot;&gt; 01 registro do tipo: Origem e outro do tipo: Devolução&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ObterLead.TipoPessoa__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pessoa física</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TextoObrigatoriedadeJuridica</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Para avançar na conversão do lead, é necessário o preenchimento dos seguintes campos:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; background-color: transparent;&quot;&gt;Documento&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Tipo de pessoa&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; background-color: transparent;&quot;&gt;Taxa&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; background-color: transparent;&quot;&gt;Período&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; background-color: transparent;&quot;&gt;Valor estimado do investimento&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; background-color: transparent;&quot;&gt;Prazo da operação&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; background-color: transparent;&quot;&gt;Celular&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10.5pt; background-color: rgb(255, 255, 255);&quot;&gt;01 registro de dado bancário do tipo: Origem e Devolução&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 10.5pt; background-color: rgb(255, 255, 255); font-family: Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;OU&lt;/strong&gt;&lt;span style=&quot;font-size: 10.5pt; background-color: rgb(255, 255, 255); font-family: Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt; 01 registro do tipo: Origem e outro do tipo: Devolução&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ObterLead.TipoPessoa__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Pessoa física</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenObrigatoriedadeProdutosFinanceiros</name>
        <label>ScreenObrigatoriedadeProdutosFinanceiros</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoObrigatoriedadeProdutosFinanceiros</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Para avançar na conversão de um lead é obrigatório possuir o campo &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Tipo de pessoa&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; preenchido, e caso haja&lt;/span&gt; necessidade de composição de renda é obrigatório possuir ao menos 01 registro de &lt;strong&gt;Renda Complementar &lt;/strong&gt;e &lt;strong&gt;Dado Bancário &lt;/strong&gt;relacionado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenObrigatoriedadeTipoPessoa</name>
        <label>ScreenObrigatoriedadeTipoPessoa</label>
        <locationX>3152</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoObrigatoriedadeTipoPessoa</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Para avançar é obrigatório possuir o campo &lt;strong&gt;Tipo de pessoa&lt;/strong&gt; preenchido.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Tela para informar aos usuários do Salesforce que o Lead possui uma fila como proprietário.</description>
        <name>TelaInformacaoLeadAtribuidoFila</name>
        <label>Tela de Informação Lead atribuído à uma fila</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemLeadAtribuidoFila</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Não é possível concluir a operação pois este Lead está atribuído à uma fila.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Reatribua o proprietário e tente novamente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Tela para informar os usuários do Salesforce One que o Lead já foi convertido.</description>
        <name>TelaInformacaoLeadConvertido</name>
        <label>Tela de Informação Lead convertido</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemLeadConvertido</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Não é possível concluir a operação pois este Lead já foi convertido na Conta &lt;a href=&quot;{!LinkContaLeadConvertido}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!BuscarContaLeadConvertido.Name}&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1338</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgenciaIFC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContaIFC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVIFC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InstituicaoFinanceira</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaBenenficiarios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Beneficiario__c</objectType>
    </variables>
    <variables>
        <name>ListaDadosBancarios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DadoBancario__c</objectType>
    </variables>
    <variables>
        <name>ListaIFC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformcoesFinanceirasConta__c</objectType>
    </variables>
    <variables>
        <name>ListaIFCDuplicados</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformcoesFinanceirasConta__c</objectType>
    </variables>
    <variables>
        <name>ListaIFCExistente</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformcoesFinanceirasConta__c</objectType>
    </variables>
    <variables>
        <name>ListaIFCRenda</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformcoesFinanceirasConta__c</objectType>
    </variables>
    <variables>
        <name>ListaIFO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformacoesFinanceirasOportunidade__c</objectType>
    </variables>
    <variables>
        <name>ListaIFORenda</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformacoesFinanceirasOportunidade__c</objectType>
    </variables>
    <variables>
        <name>ListaParceiroTimeRelacionamento</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeRelacionamento__c</objectType>
    </variables>
    <variables>
        <name>nomeOportunidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oportunidadeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegistroIFC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformcoesFinanceirasConta__c</objectType>
    </variables>
    <variables>
        <name>RegistroIFO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformacoesFinanceirasOportunidade__c</objectType>
    </variables>
    <variables>
        <name>RegistroParceiroTimeRelacionamento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeRelacionamento__c</objectType>
    </variables>
    <variables>
        <name>RegistroRenda</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformacoesFinanceirasOportunidade__c</objectType>
    </variables>
    <variables>
        <name>Taxa</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.6</numberValue>
        </value>
    </variables>
    <variables>
        <name>TipoIFO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
