force-app/main/default/flows/OportunidadeAfterBeforeInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnviarOportunidadeAprovacaoInvestimentos</name>
        <label>Enviar oportunidade para aprovação - Investimentos</label>
        <locationX>1766</locationX>
        <locationY>1247</locationY>
        <actionName>SendRecordCustomApprovalStepsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DecisaoPapelUsuario</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idProprietario</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idRegistro</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processoAprovacao</name>
            <value>
                <stringValue>ProcessoAprovacaoInvestimentos</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendRecordCustomApprovalStepsInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotificacaoAprovacaoTaxaEnviadaGerenteGeral</name>
        <label>Notificação Aprovação de taxa enviada ao Gerente Geral</label>
        <locationX>1634</locationX>
        <locationY>1787</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>ObterNotificacaoAprovacaoTaxaEnviada.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>DestinatariosAprovacaoEnviadaTaxa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Oportunidade enviada para aprovação</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CorpoNotificacaoAprovacaoEnviadaGerenteGeral</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotificarFaseAlterada</name>
        <label>Notificar fase alterada</label>
        <locationX>3306</locationX>
        <locationY>1571</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>ProcuraNotificacaoFaseAlterada.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IdsDestinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Fase da Oportunidade Atualizada</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>InformacoesOpp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotificarFaseAlteradaOppPerdida</name>
        <label>Notificar Fase Alterada Opp Perdida</label>
        <locationX>3570</locationX>
        <locationY>1463</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>ProcuraNotificacaoFaseAlteradaOppPerdida.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IdsDestinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Fase da Oportunidade Atualizada</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>InformacoesOpp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NotificarValidacaoTaxa</name>
        <label>Notificar Validação Taxa</label>
        <locationX>2074</locationX>
        <locationY>1463</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificacao.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Destinatarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Retorno Validação Taxa</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RetornoTaxa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AtribuiDestinatarios</name>
        <label>AtribuiDestinatarios</label>
        <locationX>2074</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Destinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotificarValidacaoTaxa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiIdsDestinaarios</name>
        <label>Atribui Ids dos Destinatários</label>
        <locationX>3306</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>IdsDestinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarConta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiIdsDestinatariosOppPerdida</name>
        <label>Atribui Ids dos Destinatários Opp Perdida</label>
        <locationX>3570</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>IdsDestinatarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotificarFaseAlteradaOppPerdida</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuirDestinatariosNotificacaoAprovacaoTaxa</name>
        <label>Atribuir destinatários - Notificação Aprovação de Taxa</label>
        <locationX>1634</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>DestinatariosAprovacaoEnviadaTaxa</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotificacaoAprovacaoTaxaEnviadaGerenteGeral</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>ProponenteAtingiuLimiteIdade</name>
        <label>Proponente atingiu o limite de idade</label>
        <locationX>4098</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>O proponente da renda atingiu a idade limite de 80 anos ao final do prazo do financiamento. Proponente terá {!IdadeProponentePrazo} anos.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>CaptacaoInvestimentosCondicoes</name>
        <label>Captação e Investimentos Condições</label>
        <locationX>2602</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TaxaPrazoProdutoAlteradosOppAprovada</name>
            <conditionLogic>( 1 OR 2 OR 3 OR 4 OR 5) AND 6 AND 7 AND 8 AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Taxa__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PrazoOperacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Produto__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantidade__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NovaOPP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadastroTaxa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Produto__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Taxa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantidade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PrazoOperacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FaseOPPTaxaAprovada</targetReference>
            </connector>
            <label>Taxa, prazo ou produto alterados - OPP Aprovada</label>
        </rules>
        <rules>
            <name>TaxaPrazoProdutoAlteradosOppNaoAprovada</name>
            <conditionLogic>( 1 OR 2 OR 3 OR 4 OR 5 ) AND 6 AND 7 AND 8 AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Taxa__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PrazoOperacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Produto__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantidade__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NovaOPP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CadastroTaxa</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Produto__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Taxa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantidade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PrazoOperacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnviarOportunidadeAprovacaoInvestimentos</targetReference>
            </connector>
            <label>Taxa, prazo ou produto alterados - OPP Não Aprovada</label>
        </rules>
        <rules>
            <name>RetornoAprovacaoTaxa</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taxa Aprovada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taxa Reprovada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNotificacao</targetReference>
            </connector>
            <label>Retorno Aprovação Taxa</label>
        </rules>
        <rules>
            <name>GerarContratoInvestimento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterRTContratoInvestimentos</targetReference>
            </connector>
            <label>Gerar Contrato Investimento</label>
        </rules>
        <rules>
            <name>CondicoesEuroPrimeSecuritizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Produto__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Euro Prime Securitizadora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OportunidadeGanhaEuroPrimeSec</targetReference>
            </connector>
            <label>Condições Euro Prime Securitizadora</label>
        </rules>
        <rules>
            <name>OportunidadeGanha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProcuraNotificacaoFaseAlterada</targetReference>
            </connector>
            <label>Oportunidade Ganha</label>
        </rules>
        <rules>
            <name>OportunidadePerdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProcuraNotificacaoFaseAlteradaOppPerdida</targetReference>
            </connector>
            <label>Oportunidade Perdida</label>
        </rules>
    </decisions>
    <decisions>
        <name>CondicoesOperacoesEstruturadas</name>
        <label>Condições Operações Estruturadas</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>AssinaturaContrato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assinatura de Contrato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterRTContratoSecuritizadora</targetReference>
            </connector>
            <label>Assinatura de Contrato</label>
        </rules>
        <rules>
            <name>ContratoAssinado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato Assinado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarContaSecuritizadora</targetReference>
            </connector>
            <label>Contrato Assinado</label>
        </rules>
    </decisions>
    <decisions>
        <name>CondicoesProdutosFinanceiros</name>
        <label>Condições Produtos Financeiros</label>
        <locationX>4560</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PrazoOperacaoDefinido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PrazoOperacao__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterRecTypeRendaIFC</targetReference>
            </connector>
            <label>Prazo da operação definido</label>
        </rules>
        <rules>
            <name>OportunidadeGanhaProdutosFinanceiros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato registrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarContaProdutosFinanceiros</targetReference>
            </connector>
            <label>Oportunidade Ganha Produtos Financeiros</label>
        </rules>
    </decisions>
    <decisions>
        <name>CondicoesVeiculos</name>
        <label>Condições Veículos</label>
        <locationX>5286</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OportunidadeGanhaVeiculo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato registrado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarContaVeiculos</targetReference>
            </connector>
            <label>Oportunidade Ganha Veículo</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verificação de papel de usuário que está alterando a taxa. Caso seja um Gerente de Negócios, uma notificação será disparada para o Gerente Geral porém a aprovação será encaminhada exclusivamente para o Superintendente.</description>
        <name>DecisaoPapelUsuario</name>
        <label>Decisão de Papel de Usuário</label>
        <locationX>1766</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>GerenteNegocios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Funcao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gerente de negócio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterGerenteGeralGerenteNegocios</targetReference>
            </connector>
            <label>Gerente de Negócios</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExisteCompartilhamentoInvestimentos</name>
        <label>Existe compartilhamento - Investimentos?</label>
        <locationX>2426</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>CompartilharContratoInvestimentos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarCompartilhamentoContratoInvestimentos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaFaseOpp</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExisteCompartilhamentoSecuritizadora</name>
        <label>Existe compartilhamento - Securitizadora?</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>CompartilharContratoSecuritizadora</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimSecuritizadora</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarCompartilhamentoContratoSecuritizadora</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaStatus</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>OportunidadeGanhaEuroPrimeSec</name>
        <label>Oportunidade Ganha Euro Prime Sec</label>
        <locationX>2910</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ContaPrime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contrato Assinado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaContaPrime</targetReference>
            </connector>
            <label>Conta Prime</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusCredito</name>
        <label>Status do Crédito</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CreditoUtilizadoParcialmente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCredito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utilizado parcialmente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GerarContrato</targetReference>
            </connector>
            <label>Crédito: Utilizado parcialmente</label>
        </rules>
        <rules>
            <name>CreditoUtilizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCredito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utilizado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GerarContratoCreditoUtilizado</targetReference>
            </connector>
            <label>Crédito: Utilizado</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidaTaxaComissionadoNaoComissionado</name>
        <label>Valida Taxa Comissionado/Não Comissionado</label>
        <locationX>2602</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>BuscaTaxaNaoFuncionario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>FuncionarioComissionado</name>
            <conditionLogic>( 1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Produto__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SECURITIZADORA FUNCIONARIOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Funcionario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comissionado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscaRegistroFuncionarioComissionado</targetReference>
            </connector>
            <label>Funcionário Comissionado</label>
        </rules>
        <rules>
            <name>FuncionarioNaoComissionado</name>
            <conditionLogic>( 1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Produto__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SECURITIZADORA FUNCIONARIOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Funcionario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comissionado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscaRegistroFuncionarioNaoComissionado</targetReference>
            </connector>
            <label>Funcionário Não comissionado</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaCondicesOPP</name>
        <label>Verifica Condições da OPP</label>
        <locationX>3196</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OperacoesEstruturadasContratoAssinado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operações estruturadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CondicoesOperacoesEstruturadas</targetReference>
            </connector>
            <label>Operações Estruturadas Contrato Assinado</label>
        </rules>
        <rules>
            <name>Investimentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidaTaxaComissionadoNaoComissionado</targetReference>
            </connector>
            <label>Investimentos</label>
        </rules>
        <rules>
            <name>ProdutosFinanceiros</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produtos financeiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CondicoesProdutosFinanceiros</targetReference>
            </connector>
            <label>Produtos Financeiros</label>
        </rules>
        <rules>
            <name>ProdutosFinanceirosVeiculos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produtos financeiros - Veículos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CondicoesVeiculos</targetReference>
            </connector>
            <label>Produtos Financeiros Veículos</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaIdadeProponente</name>
        <label>Verifica Idade do Proponente</label>
        <locationX>4230</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>IdadeMaior80Anos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdadeProponentePrazo</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProponenteAtingiuLimiteIdade</targetReference>
            </connector>
            <label>Idade maior que 80 anos</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaProdutoQuantidade</name>
        <label>Verifica produto e quantidade</label>
        <locationX>2602</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>CaptacaoInvestimentosCondicoes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>CalculaValorOportunidade</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NovaOPP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Produto__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantidade__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterPrecoProduto</targetReference>
            </connector>
            <label>Calcula Valor da Oportunidade</label>
        </rules>
    </decisions>
    <description>582 -[Oportunidade] - Alteração de aprovação de taxas</description>
    <environments>Default</environments>
    <formulas>
        <description>Idade que o proponente terá ao final do financiamento.</description>
        <name>IdadeProponentePrazo</name>
        <dataType>Number</dataType>
        <expression>FLOOR((TODAY() - {!ObterIFC.DataNascimento__c}) / 365.25) + {!$Record.PrazoOperacao__c} / 12</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NovaOPP</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>ValorTotalProduto</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantidade__c} * {!ObterPrecoProduto.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>os valores digitados na taxa devem refletir na série da seguinte forma:

taxa: 0,10           Série: 1

taxa: 0,20           Série: 2

taxa: 0,30           Série: 3

taxa: 0,40           Série: 4

taxa: 0,50           Série: 5

taxa: 0,60           Série: 6

taxa: 0,70           Série: 7

taxa: 0,80           Série: 8 

taxa: 0,90           Série: 9 

taxa: 1,0             Série: 10 

taxa: 1,1              Série: 11

taxa: 1,2             Série: 12

taxa: 1,3             Série: 13

taxa: 1,4             Série: 14

taxa: 1,5             Série: 15

taxa: 1,6             Série: 16

taxa: 1,7             Série: 17

taxa: 1,8             Série: 18 

taxa: 1,9            Série: 19 

taxa: 2,0           Série: 20</description>
        <name>vSerie</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Taxa__c}= 0.10 , &apos;1ª&apos;,
     IF( {!$Record.Taxa__c}= 0.20 , &apos;2ª&apos;,
        IF( {!$Record.Taxa__c}= 0.30 , &apos;3ª&apos;,
            IF( {!$Record.Taxa__c}= 0.40 , &apos;4ª&apos;,
                IF( {!$Record.Taxa__c}= 0.50 , &apos;5ª&apos;,
                    IF( {!$Record.Taxa__c}= 0.60 , &apos;6ª&apos;,
                        IF( {!$Record.Taxa__c}= 0.70 , &apos;7ª&apos;,
                            IF( {!$Record.Taxa__c}= 0.80 , &apos;8ª&apos;,
                                IF( {!$Record.Taxa__c}= 0.90 , &apos;9ª&apos;,
                                    IF( {!$Record.Taxa__c}= 1.00 , &apos;10ª&apos;,
                                        IF( {!$Record.Taxa__c}= 1.10 , &apos;11ª&apos;,
                                            IF( {!$Record.Taxa__c}= 1.20 , &apos;12ª&apos;,
                                                IF( {!$Record.Taxa__c}= 1.30 , &apos;13ª&apos;,
                                                    IF( {!$Record.Taxa__c}= 1.40 , &apos;14ª&apos;,
                                                        IF( {!$Record.Taxa__c}= 1.50 , &apos;15ª&apos;,
                                                            IF( {!$Record.Taxa__c}= 1.60 , &apos;16ª&apos;,
                                                                 IF( {!$Record.Taxa__c}= 1.70 , &apos;17ª&apos;,
                                                                     IF( {!$Record.Taxa__c}= 1.80 , &apos;18ª&apos;,
                                                                         IF( {!$Record.Taxa__c}= 1.90 , &apos;19ª&apos;,
                                                                             IF( {!$Record.Taxa__c}= 2.00 , &apos;20ª&apos;, &apos;16ª&apos;  )
                                                                             )
                                                                         )
                                                                     )
                                                                )
                                                           )
                                                       )
                                                    )
                                                )
                                            )
                                        )
                                   )
                               )
                           )
                       )
                   )
               )
           )
        )
    )</expression>
    </formulas>
    <interviewLabel>[Oportunidade] - After &amp; Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Oportunidade] - After &amp; Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CompartilharContratoInvestimentos</name>
        <label>Compartilhar Contrato - Investimentos</label>
        <locationX>2514</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>AtualizaFaseOpp</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CriarContratoInvestimento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contrato__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CompartilharContratoSecuritizadora</name>
        <label>Compartilhar Contrato - Securitizadora</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>AtualizaStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IdContratoSecuritizadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contrato__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CriarContratoInvestimento</name>
        <label>Criar Contrato Investimento</label>
        <locationX>2426</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>BuscarCompartilhamentoContratoInvestimentos</targetReference>
        </connector>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CriadoPorAutomacao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataFimContrato__c</field>
            <value>
                <elementReference>$Record.DataFimContrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataInicioContrato__c</field>
            <value>
                <elementReference>$Record.DataAporte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObterAnaliseParecerAprovada.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Periodo__c</field>
            <value>
                <elementReference>$Record.Periodo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoContrato__c</field>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObterRTContratoInvestimentos.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serie__c</field>
            <value>
                <elementReference>vSerie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Taxa__c</field>
            <value>
                <elementReference>$Record.Taxa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoContrato__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorContrato__c</field>
            <value>
                <elementReference>$Record.ValorOportunidade__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contrato__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>GerarContrato</name>
        <label>Gerar Contrato</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>IdContratoSecuritizadora</assignRecordIdToReference>
        <connector>
            <targetReference>BuscarCompartilhamentoContratoSecuritizadora</targetReference>
        </connector>
        <inputAssignments>
            <field>Carencia__c</field>
            <value>
                <elementReference>$Record.Carencia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CriadoPorAutomacao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataInicioContrato__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantia__c</field>
            <value>
                <elementReference>$Record.Garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObterFilaContratosSecuritizadora.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoContrato__c</field>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QtdeParcelas__c</field>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObterRTContratoSecuritizadora.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serie__c</field>
            <value>
                <elementReference>vSerie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorContrato__c</field>
            <value>
                <elementReference>$Record.ValorUtilizado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorParcela__c</field>
            <value>
                <elementReference>$Record.ValorAproximadoParcela__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contrato__c</object>
    </recordCreates>
    <recordCreates>
        <name>GerarContratoCreditoUtilizado</name>
        <label>Gerar Contrato - Crédito  Utilizado</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>IdContratoSecuritizadora</assignRecordIdToReference>
        <connector>
            <targetReference>BuscarCompartilhamentoContratoSecuritizadora</targetReference>
        </connector>
        <inputAssignments>
            <field>Carencia__c</field>
            <value>
                <elementReference>$Record.Carencia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CriadoPorAutomacao__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataInicioContrato__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garantia__c</field>
            <value>
                <elementReference>$Record.Garantia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObterFilaContratosSecuritizadora.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrazoContrato__c</field>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produto__c</field>
            <value>
                <elementReference>$Record.Produto__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QtdeParcelas__c</field>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObterRTContratoSecuritizadora.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsavel__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serie__c</field>
            <value>
                <elementReference>vSerie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorContrato__c</field>
            <value>
                <elementReference>$Record.ValorOportunidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValorParcela__c</field>
            <value>
                <elementReference>$Record.ValorAproximadoParcela__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contrato__c</object>
    </recordCreates>
    <recordLookups>
        <name>BuscarCompartilhamentoContratoInvestimentos</name>
        <label>Buscar Compartilhamento de Contrato - Investimentos</label>
        <locationX>2426</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteCompartilhamentoInvestimentos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CriarContratoInvestimento</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contrato__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarCompartilhamentoContratoSecuritizadora</name>
        <label>Buscar Compartilhamento de Contrato - Securitizadora</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteCompartilhamentoSecuritizadora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContratoSecuritizadora</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contrato__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscaRegistroFuncionarioComissionado</name>
        <label>Busca Registro Funcionário Comissionado</label>
        <locationX>2338</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaProdutoQuantidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Produto__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TaxaMaxima__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Taxa__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaxaMinima__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Taxa__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrazoMaximo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrazoMinimo__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>QtdeMinima__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Quantidade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funcionario__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Comissionado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </filters>
        <object>CadastroTaxas__c</object>
        <outputReference>CadastroTaxa</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>BuscaRegistroFuncionarioNaoComissionado</name>
        <label>Busca Registro Funcionário Não Comissionado</label>
        <locationX>2602</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaProdutoQuantidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Produto__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TaxaMaxima__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Taxa__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaxaMinima__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Taxa__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrazoMaximo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrazoMinimo__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>QtdeMinima__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Quantidade__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funcionario__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Comissionado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </filters>
        <object>CadastroTaxas__c</object>
        <outputReference>CadastroTaxa</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>BuscaTaxaNaoFuncionario</name>
        <label>Busca Taxa Não Funcionário</label>
        <locationX>2866</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaProdutoQuantidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Produto__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TaxaMaxima__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Taxa__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaxaMinima__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Taxa__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrazoMaximo__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrazoMinimo__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.PrazoOperacao__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>QtdeMinima__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Quantidade__c</elementReference>
            </value>
        </filters>
        <object>CadastroTaxas__c</object>
        <outputReference>CadastroTaxa</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNotificacao</name>
        <label>GetNotificação</label>
        <locationX>2074</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiDestinatarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificarTaxaAprovadaReprovada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterAnaliseParecerAprovada</name>
        <label>Obter Análise do Parecer aprovada</label>
        <locationX>2426</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarContratoInvestimento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusAnalise__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AnaliseParecer__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterFilaContratosSecuritizadora</name>
        <label>Obter Fila Contratos Securitizadora</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StatusCredito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContratosSecuritizadora</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterGerenteGeralGerenteNegocios</name>
        <label>Obter Gerente Geral do Gerente de Negócios</label>
        <locationX>1634</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterNotificacaoAprovacaoTaxaEnviada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterIFC</name>
        <label>Obter IFC</label>
        <locationX>4230</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaIdadeProponente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContaRelacionada__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterRecTypeRendaIFC.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InformcoesFinanceirasConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterNotificacaoAprovacaoTaxaEnviada</name>
        <label>Obter Notificação Aprovação de Taxa enviada</label>
        <locationX>1634</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirDestinatariosNotificacaoAprovacaoTaxa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificarAprovacaoTaxaEnviada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterPrecoProduto</name>
        <label>Obter Preço do Produto</label>
        <locationX>2470</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizarValorOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Produto__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRecTypeRendaIFC</name>
        <label>Obter Rec Type Renda IFC</label>
        <locationX>4230</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterIFC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformcoesFinanceirasConta__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CadastrarRenda</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRTContratoInvestimentos</name>
        <label>Obter RT Contrato Investimentos</label>
        <locationX>2426</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterAnaliseParecerAprovada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investimentos</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrato__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRTContratoSecuritizadora</name>
        <label>Obter RT Contrato Securitizadora</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterFilaContratosSecuritizadora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OperacoesEstruturadas</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrato__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProcuraNotificacaoFaseAlterada</name>
        <label>Procura Notificação de Fase Alterada</label>
        <locationX>3306</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiIdsDestinaarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificarFaseAlterada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProcuraNotificacaoFaseAlteradaOppPerdida</name>
        <label>Procura Notificação de Fase Alterada Opp Perdida</label>
        <locationX>3570</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiIdsDestinatariosOppPerdida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificarFaseAlterada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaContaPrime</name>
        <label>Atualiza Conta Prime</label>
        <locationX>2778</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>AtivoInvestimentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContaPrime__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoInvestimentos__c</field>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaFaseOpp</name>
        <label>Atualiza Fase Opp</label>
        <locationX>2426</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Elaboração de contrato</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarConta</name>
        <label>Atualizar Conta</label>
        <locationX>3306</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>NotificarFaseAlterada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AtivoInvestimentos__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoInvestimentos__c</field>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarContaProdutosFinanceiros</name>
        <label>Atualizar Conta Produtos Financeiros</label>
        <locationX>4626</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AtivoProdutosFinanceiros__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoProdutosFinanceiros__c</field>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarContaSecuritizadora</name>
        <label>Atualizar Conta Securitizadora</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AtivoOperacesEstruturadas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoOperacoesEstruturadas__c</field>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarContaVeiculos</name>
        <label>Atualizar Conta Veículos</label>
        <locationX>5154</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AtivoProdutosFinanceiros__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoProdutosFinanceiros__c</field>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarValorOportunidade</name>
        <label>Atualizar Valor da Oportunidade</label>
        <locationX>2470</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>CaptacaoInvestimentosCondicoes</targetReference>
        </connector>
        <inputAssignments>
            <field>ValorOportunidade__c</field>
            <value>
                <elementReference>ValorTotalProduto</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaStatus</name>
        <label>Atualiza Status</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aguardando elaboração</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contratos__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FaseOPPTaxaAprovada</name>
        <label>Fase OPP Taxa Aprovada</label>
        <locationX>1370</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Taxa/Prazo Aprovada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3070</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerificaCondicesOPP</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CorpoNotificacaoAprovacaoEnviadaGerenteGeral</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A oportunidade {!$Record.Name} foi enviada para aprovação do Superintendente.</text>
    </textTemplates>
    <textTemplates>
        <name>InformacoesOpp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A oportunidade {!$Record.Name}, teve seu status alterado para: {!$Record.StageName}.</text>
    </textTemplates>
    <textTemplates>
        <name>RetornoTaxa</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Processo de aprovação de taxa da oportunidade {!$Record.Name} concluído! Resultado da análise: {!$Record.StageName}.</text>
    </textTemplates>
    <variables>
        <name>CadastroTaxa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CadastroTaxas__c</objectType>
    </variables>
    <variables>
        <name>Destinatarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DestinatariosAprovacaoEnviadaTaxa</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContratoSecuritizadora</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsDestinatarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaBeneficiarios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Beneficiario__c</objectType>
    </variables>
    <variables>
        <name>ListaDadosBancarios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DadoBancario__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuperintendenteAprovador</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Taxa</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>1.5</numberValue>
        </value>
    </variables>
</Flow>
