force-app/main/default/flows/OportunidadeCriarRelacionadoNegociacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>CriarObjetoContaAvalistaPF</name>
        <label>Criar objeto conta avalista PF</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NovoObjetoContaAvalista.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentoTelaCadastroAvalista</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoContaAvalista.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeRazaoSocialTelaCadastroAvalista</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoContaAvalista.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRecordTypeConta.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InserirContaAvalista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CriarObjetoContaAvalistaPJ</name>
        <label>Criar objeto conta avalista PJ</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NovoObjetoContaAvalista.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentoTelaCadastroAvalista</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoContaAvalista.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeRazaoSocialTelaCadastroAvalista</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoContaAvalista.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRecordTypeConta.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InserirContaAvalista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CriarObjetoContaSacadoPF</name>
        <label>Criar objeto conta sacado PF</label>
        <locationX>1546</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NovoObjetoContaSacado.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentoTelaCadastroSacado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoContaSacado.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeRazaoSocialTelaCadastroSacado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoContaSacado.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRecordTypeConta.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InserirContaSacado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CriarObjetoContaSacadoPJ</name>
        <label>Criar objeto conta sacado PJ</label>
        <locationX>1810</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>NovoObjetoContaSacado.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentoTelaCadastroSacado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoContaSacado.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeRazaoSocialTelaCadastroSacado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoContaSacado.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRecordTypeConta.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InserirContaSacado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CriarObjetoRelacionadoNegociacaoAvalista</name>
        <label>Criar objeto relacionado negociação Avalista</label>
        <locationX>886</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoAvalista.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentoTelaCadastroAvalista</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoAvalista.NomeRazaoSocial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeRazaoSocialTelaCadastroAvalista</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoAvalista.Oportunidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoAvalista.Conta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NovoObjetoContaAvalista.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoAvalista.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRecordTypeRelacionadoNegociacao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CriarAvalista</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CriarObjetoRelacionadoNegociacaoSacado</name>
        <label>Criar objeto relacionado negociação Sacado</label>
        <locationX>1678</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoSacado.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentoTelaCadastroSacado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoSacado.NomeRazaoSocial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeRazaoSocialTelaCadastroSacado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoSacado.Oportunidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoSacado.Conta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NovoObjetoContaSacado.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoSacado.Valor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValorTelaCadastroSacado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoSacado.PercentualConcentracao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentualConcentracaoTelaCadastroSacado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjetoRelacionadoNegociacaoSacado.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRecordTypeRelacionadoNegociacao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CriarSacado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MontarObjetoRelacionadoNegociacao</name>
        <label>Montar objeto relacionado da negociação</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>NovoObjetoRelacionadoNegociacao.Documento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterContaSelecionada.Documento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoRelacionadoNegociacao.NomeRazaoSocial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterContaSelecionada.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoRelacionadoNegociacao.Oportunidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoRelacionadoNegociacao.Conta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterContaSelecionada.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoRelacionadoNegociacao.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterRecordTypeRelacionadoNegociacao.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoRelacionadoNegociacao.Valor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValorTelaInformacoes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NovoObjetoRelacionadoNegociacao.PercentualConcentracao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentualConcentracaoTelaInformacoes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InserirRegistroRelacionadoNegociacao</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Avalista</name>
        <choiceText>Avalista</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Avalista</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContaPessoal</name>
        <choiceText>Física</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContaPessoal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Empresa</name>
        <choiceText>Jurídica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Empresa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sacado</name>
        <choiceText>Sacado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sacado</stringValue>
        </value>
    </choices>
    <decisions>
        <name>VerificaProdutoDesconto</name>
        <label>Verifica Produto: Desconto</label>
        <locationX>1480</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>TelaCadastroSacado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ProdutoDiferenteDesconto02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterOportunidadeAtual.Produto__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Desconto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidadeAtual.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operações estruturadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObrigatorioProdutoSacado</targetReference>
            </connector>
            <label>Produto diferente de Desconto</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaProdutoSacado</name>
        <label>Verifica Produto Para Sacado</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>VerificaTipoSacado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ProdutoDiferenteDesconto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterOportunidadeAtual.Produto__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Desconto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidadeAtual.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operações estruturadas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TipoSelecionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sacado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidadeAtual.Garantia__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObrigatorioProdutoSacadoExistente</targetReference>
            </connector>
            <label>Produto diferente de Desconto</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarRegistroExistenteSelecionado</name>
        <label>Verificar se registro existente selecionado</label>
        <locationX>864</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>EscolhaTipoPessoa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>RegistroExistenteSelecionado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RealizeBuscaUtilizandoCnpjCpfRazaoSocialNome.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterContaSelecionada</targetReference>
            </connector>
            <label>Registro existente selecionado</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaTipoPessoaAvalista</name>
        <label>Verifica Tipo Pessoa Avalista</label>
        <locationX>886</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>CriarObjetoContaAvalistaPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VerificaTipoPessoaAvalistaIgualPessoaFisica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoPessoa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContaPessoal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarObjetoContaAvalistaPF</targetReference>
            </connector>
            <label>Verifica Tipo Pessoa Avalista igual Pessoa Fisica</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaTipoPessoaSacado</name>
        <label>Verifica Tipo Pessoa Sacado</label>
        <locationX>1678</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>CriarObjetoContaSacadoPJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>VerificaTipoPessoaSacadoIgualPessoaFisica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoPessoa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContaPessoal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarObjetoContaSacadoPF</targetReference>
            </connector>
            <label>Verifica Tipo Pessoa Sacado igual Pessoa Física</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaTipoSacado</name>
        <label>Verifica Tipo Sacado</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>MontarObjetoRelacionadoNegociacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TipoSelecionadoIgualSacadoContaExistente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoSelecionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sacado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaInformacoes</targetReference>
            </connector>
            <label>Tipo Selecionado Igual a Sacado com Conta Existente</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaTipoSelecionado</name>
        <label>Verifica tipo selecionado</label>
        <locationX>1480</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>TipoSelecionadoIgualAvalista</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoSelecionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Avalista</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaCadastroAvalista</targetReference>
            </connector>
            <label>Tipo selecionado igual a Avalista</label>
        </rules>
        <rules>
            <name>TipoSelecionadoIgualSacado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoSelecionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sacado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerificaProdutoDesconto</targetReference>
            </connector>
            <label>Tipo selecionado igual a Sacado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Oportunidade] - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Oportunidade] - Criar Relacionado da negociação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarAvalista</name>
        <label>Criar Avalista</label>
        <locationX>886</locationX>
        <locationY>1622</locationY>
        <inputReference>ObjetoRelacionadoNegociacaoAvalista</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CriarSacado</name>
        <label>Criar Sacado</label>
        <locationX>1678</locationX>
        <locationY>1730</locationY>
        <inputReference>ObjetoRelacionadoNegociacaoSacado</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InserirContaAvalista</name>
        <label>Inserir conta avalista</label>
        <locationX>886</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>CriarObjetoRelacionadoNegociacaoAvalista</targetReference>
        </connector>
        <inputReference>NovoObjetoContaAvalista</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InserirContaSacado</name>
        <label>Inserir conta sacado</label>
        <locationX>1678</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>CriarObjetoRelacionadoNegociacaoSacado</targetReference>
        </connector>
        <inputReference>NovoObjetoContaSacado</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InserirRegistroRelacionadoNegociacao</name>
        <label>Inserir registro relacionado da negociação</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <inputReference>NovoObjetoRelacionadoNegociacao</inputReference>
    </recordCreates>
    <recordLookups>
        <name>ObterContaSelecionada</name>
        <label>Obter conta selecionada</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaProdutoSacado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RealizeBuscaUtilizandoCnpjCpfRazaoSocialNome.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterOportunidadeAtual</name>
        <label>Obter oportunidade atual</label>
        <locationX>864</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscarRegistroExistente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRecordTypeConta</name>
        <label>Obter record type Conta</label>
        <locationX>1480</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaTipoSelecionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoPessoa</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRecordTypeRelacionadoNegociacao</name>
        <label>Obter record type Relacionado da negociacao</label>
        <locationX>864</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterOportunidadeAtual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoSelecionado</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RelacionadoNegociacao__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>BuscarRegistroExistente</name>
        <label>Buscar registro existente</label>
        <locationX>864</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VerificarRegistroExistenteSelecionado</targetReference>
        </connector>
        <fields>
            <name>RealizeBuscaUtilizandoCnpjCpfRazaoSocialNome</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Realize a busca utilizando CNPJ/CPF ou Razão Social/Nome</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TextoCriar</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt;Caso não encontre clique em avançar para criar um novo registro&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EscolhaOpcao</name>
        <label>Escolha uma opção</label>
        <locationX>864</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ObterRecordTypeRelacionadoNegociacao</targetReference>
        </connector>
        <fields>
            <name>TipoSelecionado</name>
            <choiceReferences>Avalista</choiceReferences>
            <choiceReferences>Sacado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione um tipo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EscolhaTipoPessoa</name>
        <label>Escolha uma opção</label>
        <locationX>1480</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ObterRecordTypeConta</targetReference>
        </connector>
        <fields>
            <name>TipoPessoa</name>
            <choiceReferences>ContaPessoal</choiceReferences>
            <choiceReferences>Empresa</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o tipo de pessoa para cadastro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ObrigatorioProdutoSacado</name>
        <label>ObrigatorioProdutoSacado</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemSacado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Para inserir um registro de sacado o produto deve ser &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Desconto&apos;&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ObrigatorioProdutoSacadoExistente</name>
        <label>ObrigatorioProdutoSacadoExistente</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemSacadoExistente</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: &amp;quot;Google Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Para criar um registro de sacado para o produto selecionado, a garantia deve ser &quot;Duplicata&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaCadastroAvalista</name>
        <label>Cadastro Avalista</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VerificaTipoPessoaAvalista</targetReference>
        </connector>
        <fields>
            <name>TextoBaseTelaCadastroAvalista</name>
            <fieldText>&lt;p&gt;Preencha as informações abaixo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NomeRazaoSocialTelaCadastroAvalista</name>
            <dataType>String</dataType>
            <fieldText>Nome ou Razão Social</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DocumentoTelaCadastroAvalista</name>
            <dataType>String</dataType>
            <fieldText>Documento</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaCadastroSacado</name>
        <label>Cadastro Sacado</label>
        <locationX>1678</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VerificaTipoPessoaSacado</targetReference>
        </connector>
        <fields>
            <name>NomeRazaoSocialTelaCadastroSacado</name>
            <dataType>String</dataType>
            <fieldText>Nome ou Razão social</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DocumentoTelaCadastroSacado</name>
            <dataType>String</dataType>
            <fieldText>Documento</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ValorTelaCadastroSacado</name>
            <dataType>Currency</dataType>
            <fieldText>Valor</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PercentualConcentracaoTelaCadastroSacado</name>
            <dataType>Number</dataType>
            <fieldText>Percentual de concentração</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaInformacoes</name>
        <label>Tela Informações</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MontarObjetoRelacionadoNegociacao</targetReference>
        </connector>
        <fields>
            <name>TextoBaseTelaInformacoes</name>
            <fieldText>&lt;p&gt;Preencha as informações abaixo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValorTelaInformacoes</name>
            <dataType>Currency</dataType>
            <fieldText>Valor</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PercentualConcentracaoTelaInformacoes</name>
            <dataType>Number</dataType>
            <fieldText>Percentual de concentração</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EscolhaOpcao</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NovoObjetoContaAvalista</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NovoObjetoContaSacado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NovoObjetoRelacionadoNegociacao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RelacionadoNegociacao__c</objectType>
    </variables>
    <variables>
        <name>ObjetoRelacionadoNegociacaoAvalista</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RelacionadoNegociacao__c</objectType>
    </variables>
    <variables>
        <name>ObjetoRelacionadoNegociacaoSacado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RelacionadoNegociacao__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
