force-app/main/default/flows/OportunidadeCriacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AtribuiGNPrincipalConta</name>
        <label>Atribui GN Principal Conta</label>
        <locationX>538</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>GNPrincipal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterMembroConta.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CriarGNPrincipal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisoesOportunidade</name>
        <label>Decisões da Oportunidade</label>
        <locationX>670</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>BUInvestimentos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investimentos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterRTTimeRelacionamento</targetReference>
            </connector>
            <label>BU Investimentos</label>
        </rules>
        <rules>
            <name>BUOperacoesEstruturadas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OperacoesEstruturadas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterRTTimeRelacionamento</targetReference>
            </connector>
            <label>BU Operações estruturadas</label>
        </rules>
        <rules>
            <name>BUProdutosFinanceirosVeiculos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceiros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceirosVeiculos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObterRTTimeRelacionamento</targetReference>
            </connector>
            <label>BU Produtos financeiros / Veículos</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaGNPrincipal</name>
        <label>Verifica GN Principal</label>
        <locationX>670</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>PossuiGNPrincipal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterMembroConta.GerentePrincipal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuiGNPrincipalConta</targetReference>
            </connector>
            <label>Possui GN Principal?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Oportunidade] - Criação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Oportunidade] - Criação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CriarGNPrincipal</name>
        <label>Criar GN Principal</label>
        <locationX>538</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>NomeGerente__c</field>
            <value>
                <elementReference>GNPrincipal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Principal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObterRTTimeRelacionamento.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeRelacionamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>RelacionamentoGNOwner</name>
        <label>Relacionamento GN Owner</label>
        <locationX>670</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>ObterMembroConta</targetReference>
        </connector>
        <inputAssignments>
            <field>DivisaoComissao__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NomeGerente__c</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProprietarioOpp__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObterRTTimeRelacionamento.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TimeRelacionamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ObterMembroConta</name>
        <label>Obter Membro da Conta</label>
        <locationX>670</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaGNPrincipal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GerentePrincipal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterRTTimeRelacionamento</name>
        <label>Obter RT Time Relacionamento</label>
        <locationX>670</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelacionamentoGNOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TimeRelacionamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TimeRelacionamento__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>544</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>DecisoesOportunidade</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GNPrincipal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
