force-app/main/default/flows/OportunidadeIncluirGarantia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Atribui_o_1</name>
        <label>Atribuição 1</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>contratosselecionados.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buscarRT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contratosselecionados.Utilizado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Percentualutilizado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contratosselecionados.Oportunidade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contratosselecionados.Contrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopcontractsselectdes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>llistadeecontratosselecionados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>atribuirIndice</name>
        <label>atribuirIndice</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ContratoLoopAtual</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopcontractsselectdes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsercaoDePercentual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>criar uma lista contendo os contratos selecionados</description>
        <name>llistadeecontratosselecionados</name>
        <label>llista de contratos selecionados</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>selectedContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contratosselecionados</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>removerIndice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>removerIndice</name>
        <label>removerIndice</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ContratoLoopAtual</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>loopcontractsselectdes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopcontractsselectdes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verifica se existem contratos</description>
        <name>verificaContratos</name>
        <label>Verifica se existe contratos</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>informacoesInvalidas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>existeContrato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ListaContratos</targetReference>
            </connector>
            <label>Existe Contrato</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Oportunidade] - Incluir Garantia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Oportunidade] - Incluir Garantia</label>
    <loops>
        <description>peccorre a lista de contratos selecionados</description>
        <name>loopcontractsselectdes</name>
        <label>loop contratos selecionados</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>listcontracts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>atribuirIndice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>criagarantias</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>criagarantias</name>
        <label>criagarantias</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>GarantiaCriadas</targetReference>
        </connector>
        <inputReference>selectedContracts</inputReference>
    </recordCreates>
    <recordLookups>
        <description>buscar o record Type</description>
        <name>buscarRT</name>
        <label>buscarRT</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopcontractsselectdes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformacoesFinanceirasOportunidade__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Garantia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca contratos relacionados a conta.</description>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>verificaContratos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UnidadeNegocio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investimentos</stringValue>
            </value>
        </filters>
        <filters>
            <field>DataFimContrato__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contrato__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca pela</description>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>mensagem para o usuario que as garantias foram criadas</description>
        <name>GarantiaCriadas</name>
        <label>Garantia criadas</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>garantiasCriadas</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Garantia(s) criadas com sucesso.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Exibir uma mensagem para usuario que não ha contratos que podem ser usados para uma garantia</description>
        <name>informacoesInvalidas</name>
        <label>Informaçoes invalidas</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>mensagem</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Não existem contratos válidos para essa operação.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Inserção do % a ser utilizado do contrato como garantia</description>
        <name>InsercaoDePercentual</name>
        <label>Inserção de %</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Atribui_o_1</targetReference>
        </connector>
        <fields>
            <name>contratoatual</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contrato__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ContratoLoopAtual</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e2e9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome de Contrato&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TipoContrato__c&quot;,&quot;guid&quot;:&quot;column-c006&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Tipo de contrato&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ValorContrato__c&quot;,&quot;guid&quot;:&quot;column-a164&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Valor do contrato&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;PercentialUtilizado__c&quot;,&quot;guid&quot;:&quot;column-9cc7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;% utilizado&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;PercentualPendente__c&quot;,&quot;guid&quot;:&quot;column-9099&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;% pendente&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;DataFimContrato__c&quot;,&quot;guid&quot;:&quot;column-3d10&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Data fim do contrato&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Percentualutilizado</name>
            <dataType>Number</dataType>
            <fieldText>% a ser utilizado</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;O percentual informado deve considerar as seguintes regras:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt; - % utilizado deve respeitar os valores entre 1% e 100%.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt; - A soma do % utilizado  não deve ser maior que 100%.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
{!Percentualutilizado} &gt;= 1,
IF(ISBLANK({!loopcontractsselectdes.PercentualUtilizado__c}),
{!Percentualutilizado} &lt;= 100,
({!Percentualutilizado} + {!loopcontractsselectdes.PercentualUtilizado__c} * 100) &lt;= 100
))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>lista de contratos para serem exibidos.</description>
        <name>ListaContratos</name>
        <label>Lista de Contratos</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>buscarRT</targetReference>
        </connector>
        <fields>
            <name>listcontracts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contrato__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getContract</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3998&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nome de Contrato&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TipoContrato__c&quot;,&quot;guid&quot;:&quot;column-d019&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Tipo de contrato&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ValorContrato__c&quot;,&quot;guid&quot;:&quot;column-f02e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Valor do contrato&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;PercentialUtilizado__c&quot;,&quot;guid&quot;:&quot;column-ee66&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;% utilizado&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;DataFimContrato__c&quot;,&quot;guid&quot;:&quot;column-434c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Data fim do contrato&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContratoLoopAtual</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contrato__c</objectType>
    </variables>
    <variables>
        <name>contratosselecionados</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformacoesFinanceirasOportunidade__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>contrato selecionados</description>
        <name>selectedContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InformacoesFinanceirasOportunidade__c</objectType>
    </variables>
</Flow>
