force-app/main/default/flows/OportunidadeFlowTelaCriacaoCotacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AtribuicaoCotacao</name>
        <label>AtribuicaoCotacao</label>
        <locationX>1392</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Cotacao.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cotacao.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeCotacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cotacao.FormaPagamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterOportunidade.FormaPagamento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cotacao.PrazoFinanciamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterOportunidade.PrazoOperacao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cotacao.Produto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterOportunidade.Produto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cotacao.SistemaAmortizacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterOportunidade.SistemaAmortizacao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cotacao.ValorBem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterOportunidade.ValorBem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cotacao.IncluirITBIRegistro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterOportunidade.IncluirDespesasITBICartorio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cotacao.DataSimulacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cotacao.BancoParceiro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterContaBanco.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListaCotacaoCriar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContadorConjuge</name>
        <label>ContadorConjuge</label>
        <locationX>1304</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>vConjuge</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetIFOConjuge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificaBancosSimulados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContagemRegistros</name>
        <label>Contagem de registros</label>
        <locationX>561</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vContaIFC</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ObterColecaoRegistros</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequisitosCotacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LimparLista</name>
        <label>LimparLista</label>
        <locationX>1502</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>CotacaoList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>TelaDesejaIncluirOutroParceiro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ListaCotacaoCriar</name>
        <label>ListaCotacaoCriar</label>
        <locationX>1392</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CotacaoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cotacao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopBancos</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EscolhaBancoBrasil</name>
        <choiceText>001 - BANCO DO BRASIL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>001 - BANCO DO BRASIL</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaBradesco</name>
        <choiceText>237 - BRADESCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>237 - BRADESCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaC6Bank</name>
        <choiceText>336 - C6 BANK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>336 - C6 BANK</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaCaixa</name>
        <choiceText>104 - CAIXA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>104 - CAIXA</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaCASH</name>
        <choiceText>CASH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CASH</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaCreditas</name>
        <choiceText>342 - CREDITAS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>342 - CREDITAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaDaycoval</name>
        <choiceText>707 - DAYCOVAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>707 - DAYCOVAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaGalleriaBank</name>
        <choiceText>GALLERIA BANK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GALLERIA BANK</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaInter</name>
        <choiceText>077 - INTER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>077 - INTER</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaItau</name>
        <choiceText>341 - ITAU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>341 - ITAU</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaPaulista</name>
        <choiceText>611 - PAULISTA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>611 - PAULISTA</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaPontte</name>
        <choiceText>PONTTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PONTTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaPortoSeguro</name>
        <choiceText>PORTO SEGURO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PORTO SEGURO</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaSantander</name>
        <choiceText>033 - SANTANDER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>033 - SANTANDER</stringValue>
        </value>
    </choices>
    <choices>
        <name>EscolhaTCach</name>
        <choiceText>T CACH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>T CACH</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_o</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DecisaoNovaCotacao</name>
        <label>Decisão Nova Cotação</label>
        <locationX>1502</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RequisitosCotacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>EscolhaNao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Escolha</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nao</elementReference>
                </rightValue>
            </conditions>
            <label>Escolha: Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequisitosCotacao</name>
        <label>Requisitos da Cotação</label>
        <locationX>561</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>BuscaCNPJBanco</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>RendaComplementarNao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterOportunidade.ComporRenda__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterColecaoRegistros</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidade.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produtos financeiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObrigatorioRenda</targetReference>
            </connector>
            <label>Renda Complementar: Não</label>
        </rules>
        <rules>
            <name>RendaComplementarSim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vContaIFC</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidade.ComporRenda__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidade.UnidadeNegocio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produtos financeiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obrigatorio2Rendas</targetReference>
            </connector>
            <label>Renda Complementar: Sim</label>
        </rules>
        <rules>
            <name>OportunidadeSemProduto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterOportunidade.Produto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaObrigatoriedadeProduto</targetReference>
            </connector>
            <label>Oportunidade sem Produto</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaBancosSimulados</name>
        <label>Verifica Bancos Simulados</label>
        <locationX>1304</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>CriarCotacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>ItauPF</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 6) OR  (1 AND 2 AND 3 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>RealizeBuscaUtilizandoCnpNomeBanco.recordName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ITAU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidade.Account.TipoPessoa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pessoa Física</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vConjuge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidade.Account.EstadoCivil__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Casado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidade.Account.EstadoCivil__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>União estável</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidade.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProdutosFinanceiros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RendaConjuge</targetReference>
            </connector>
            <label>Itau PF</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificaParceiroIgualTrue</name>
        <label>Verifica se Parceiro igual a True</label>
        <locationX>1073</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>LoopBancos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>NaoParceiro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterContaBanco.TipoParceiro__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Banco</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MensagemContaDiferenteParceiro</targetReference>
            </connector>
            <label>Não é parceiro</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaValoresSeparados</name>
        <dataType>String</dataType>
        <expression>MID({!BancosSelecionados},FIND(&quot;;&quot;,
{!BancosSelecionados})+1,LEN({!BancosSelecionados})-
LEN(LEFT({!BancosSelecionados}, FIND(&quot;;&quot;,{!BancosSelecionados})))+1)</expression>
    </formulas>
    <formulas>
        <name>NomeCotacao</name>
        <dataType>String</dataType>
        <expression>{!ObterOportunidade.Name}&amp; &apos; - &apos; &amp;{!RealizeBuscaUtilizandoCnpNomeBanco.recordName}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>ValoresSeparadosAtualizados</name>
        <dataType>String</dataType>
        <expression>MID({!BancosSelecionados},FIND(&quot;;&quot;,
{!BancosSelecionados})+1,LEN({!BancosSelecionados})-
LEN(LEFT({!BancosSelecionados}, FIND(&quot;;&quot;,{!BancosSelecionados})))+1)</expression>
    </formulas>
    <interviewLabel>[Oportunidade] - Flow de tela para criação da cotação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Oportunidade] - Flow de tela para criação da cotação</label>
    <loops>
        <name>LoopBancos</name>
        <label>LoopBancos</label>
        <locationX>1304</locationX>
        <locationY>890</locationY>
        <collectionReference>RealizeBuscaUtilizandoCnpNomeBanco.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuicaoCotacao</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetIFOConjuge</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarCotacao</name>
        <label>CriarCotacao</label>
        <locationX>1502</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>LimparLista</targetReference>
        </connector>
        <inputReference>CotacaoList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetIFOConjuge</name>
        <label>GetIFOConjuge</label>
        <locationX>1304</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContadorConjuge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GrauRelacionamento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cônjuge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterOportunidade.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InformacoesFinanceirasOportunidade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterColecaoRegistros</name>
        <label>Obter Coleção Registros</label>
        <locationX>561</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContagemRegistros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterOportunidade.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InformacoesFinanceirasOportunidade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterContaBanco</name>
        <label>Obter Conta Banco</label>
        <locationX>1073</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaParceiroIgualTrue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RealizeBuscaUtilizandoCnpNomeBanco.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterOportunidade</name>
        <label>Obter Oportunidade</label>
        <locationX>561</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterColecaoRegistros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>BuscaCNPJBanco</name>
        <label>Busca CNPJ Banco</label>
        <locationX>1073</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ObterContaBanco</targetReference>
        </connector>
        <fields>
            <name>RealizeBuscaUtilizandoCnpNomeBanco</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Realize a busca utilizando CNPJ ou Nome do Banco</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MensagemContaDiferenteParceiro</name>
        <label>MensagemContaDiferenteParceiro</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemNecessarioParceiro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 2, 2); font-size: 20px;&quot;&gt;É necessário escolher uma conta do tipo parceiro&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Obrigatorio2Rendas</name>
        <label>Obrigatorio2Rendas</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensagem2Rendas</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(224, 3, 3);&quot;&gt;Necessário cadastrar a renda principal e a complementar para gerar a cotação!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ObrigatorioRenda</name>
        <label>ObrigatorioRenda</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemRendaNao</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(228, 12, 12);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(250, 13, 13);&quot;&gt;Necessário cadastrar a renda principal para gerar cotação!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RendaConjuge</name>
        <label>RendaConjuge</label>
        <locationX>1106</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemRendaConjuge</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(244, 12, 36);&quot;&gt;Ao selecionar o banco Itaú é obrigatório a inclusão da renda do cônjuge para clientes que são Casados ou possuem União estável. Inclua a renda na oportunidade e gere as cotações novamente!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaDesejaIncluirOutroParceiro</name>
        <label>TelaDesejaIncluirNovoParceiro</label>
        <locationX>1502</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisaoNovaCotacao</targetReference>
        </connector>
        <fields>
            <name>MensagemDesejaIncluirNovoParceiro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(11, 11, 11); font-size: 20px;&quot;&gt;Cotação gerada com sucesso.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(11, 11, 11); font-size: 20px;&quot;&gt;Deseja gerar uma nova cotação?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Escolha</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escolha</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaObrigatoriedadeProduto</name>
        <label>Tela Obrigatoriedade Produto</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemOportunidadeSemProduto</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 3, 3); font-size: 16px;&quot;&gt;Necessária a inclusão do produto relacionado para gerar a cotação!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>435</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterOportunidade</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BancosSelecionados</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColecaoBancos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cotacao</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>CotacaoList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teste</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValorBancoSeparado</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vConjuge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vContaIFC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
