force-app/main/default/flows/ParecerActionEnviarParaAnalise.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BloqueiaOportunidade</name>
        <label>Bloqueia Oportunidade</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>ApprovalControll</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bloquear</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registroId</name>
            <value>
                <elementReference>GETParecer.Oportunidade__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ApprovalControll</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BloqueiaParecer</name>
        <label>Bloqueia Parecer</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>ApprovalControll</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BloqueiaOportunidade</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bloquear</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>registroId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ApprovalControll</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>[Parecer] - Action Enviar Para Análise {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Parecer] - Action Enviar Para Análise</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GETParecer</name>
        <label>GETParecer</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenEnviaAnalise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parecer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Altera a fase da Oportunidade para &quot;Aguardando aprovação&quot; somente quando o Parecer é enviado para análise.</description>
        <name>AtualizarFaseOportunidade</name>
        <label>Atualizar fase Oportunidade</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CriaAnaliseParecer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GETParecer.Oportunidade__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ag Aprovação</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParecer</name>
        <label>UpdateParecer</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>AtualizarFaseOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Em análise</stringValue>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
    </recordUpdates>
    <screens>
        <name>ScreenEnviaAnalise</name>
        <label>ScreenEnviaAnalise</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateParecer</targetReference>
        </connector>
        <fields>
            <name>Confirmacao</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Deseja enviar parecer para análise?&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;OBS: Após o envio não será possível editar o parecer enquanto estiver em análise.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EscalonarParecer</name>
            <dataType>Boolean</dataType>
            <fieldText>Escalar</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GETParecer.UnidadeNegocio__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Operações estruturadas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GETParecer.Oportunidade__r.ParecerDevolvido__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GETParecer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CriaAnaliseParecer</name>
        <label>Cria análise do parecer</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>BloqueiaParecer</targetReference>
        </connector>
        <flowName>AnaliseParecerSubflowCriaAnaliseParecer</flowName>
        <inputAssignments>
            <name>Escalonada</name>
            <value>
                <elementReference>EscalonarParecer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parecer</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TipoAnalise</name>
            <value>
                <elementReference>GETParecer.UnidadeNegocio__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
