force-app/main/default/flows/ParecerCriarParecer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OpenRecord</name>
        <label>Open Record</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <actionName>c:DefinitionPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CriarParacer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:DefinitionPageNavigation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>ValidarVisibilidadeParecer</name>
        <label>Validar visibilidade Parecer</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>TelaAlertaParecer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>OportunidadeApta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterOportunidade.MostraBotaoParecer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscaRecordType</targetReference>
            </connector>
            <label>Oportunidade apta</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarStatusOportunidade</name>
        <label>Verificar Status Oportunidade</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>CriarParecer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>StatusTaxaReprovadaAprovar</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterOportunidade.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taxa Reprovada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterOportunidade.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validando Taxa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaErroOppTaxaAprovarReprovada</targetReference>
            </connector>
            <label>Status Taxa Reprovada e Aprovar</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>vNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>[Parecer] - Criar Parecer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Parecer] - Criar Parecer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarParacer</name>
        <label>Criar Paracer</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>OpenRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>DataHoraCriacao__c</field>
            <value>
                <elementReference>vNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescricaoParecer__c</field>
            <value>
                <elementReference>DescricaoParecer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidade__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rascunho</stringValue>
            </value>
        </inputAssignments>
        <object>Parecer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Busca o record type Garantia</description>
        <name>BuscaRecordType</name>
        <label>Busca Record type</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>buscarGarantias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformacoesFinanceirasOportunidade__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Garantia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca as Garantias atreladas a opotunidade</description>
        <name>buscarGarantias</name>
        <label>Buscar Garantias</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarStatusOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscaRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InformacoesFinanceirasOportunidade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterOportunidade</name>
        <label>Obter Oportunidade</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidarVisibilidadeParecer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CriarParecer</name>
        <label>Criar Parecer</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CriarParacer</targetReference>
        </connector>
        <fields>
            <name>DescricaoParecer</name>
            <fieldText>Descrição Parecer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Salvar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaAlertaParecer</name>
        <label>Tela de alerta Parecer</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensagemParecer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;O Parecer não pode ser criado na fase atual desta Oportunidade.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaErroOppTaxaAprovarReprovada</name>
        <label>Tela Erro Opp Taxa a Aprovar ou Reprovada</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErroTaxaInvestimentos</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 17, 17);&quot;&gt;Você não pode criar um Parecer para um oportunidade que esteja em processo de validação de taxa ou com Taxa Reprovada!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterOportunidade</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>InvestimentosErroTaxa</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Você não pode criar um Parecer para uma oportunidade que esteja em fase de aprovação de taxa ou com o status de Taxa Reprovada!</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
